*.4ct
*.4tc
*.idv
*.lg
/latex/my-pubs/my-pubs.xref
/latex/research/research.tmp
/latex/research/research.xref
/latex/my-pubs/my-pubs.tmp
/latex/schedules/schedule_s19_phil255/schedule_s19_phil255.pdf
/latex/schedules/schedule_s19_phil460/schedule_s19_phil460.pdf
/latex/schedules/schedule_f18_phil255/schedule_f18_phil255.pdf
/latex/schedules/schedule_f19_phil255/schedule_f19_phil255.pdf
/latex/schedules/schedule_s20_phil212/schedule_s20_phil212.pdf
/latex/schedules/schedule_s20_phil255/schedule_s20_phil255.pdf
/latex/schedules/schedule_f21_phil255/schedule_f21_phil255.html
/latex/schedules/schedule_s21_phil255/schedule_s21_phil255.html
