*.4ct
*.4tc
*.idv
*.lg
/latex/my-pubs/my-pubs.xref
/latex/research/research.tmp
/latex/research/research.xref
/latex/my-pubs/my-pubs.tmp
/latex/schedules/schedule_s19_phil255/schedule_s19_phil255.pdf
