<p>
  This seminar grapple with contemporary issues in applied ethics, and delve into the diverse factors that shape our ethical beliefs, such as religion, psychology, and societal norms.
</p>
<!-- <p>
     This seminar introduces students to conceptual issues in evolutionary biology. Some of the issues discussed in this seminar include: How does natural selection explain the evolution of complexity? What are organisms? What is the role of chance in evolution? How can altruism evolve by natural selection?
     </p> -->
