<div class="latex">
 <dl class="thebibliography">
  <dt class="thebibliography" id="X0-pedroso22:_bettin_blind">
  </dt>
  <dd class="thebibliography" id="bib-1">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso22:_bettin_blind">
    </a>
    Pedroso, M. (in press). “Betting Blind: Coping with Uncertainty through
   Redundancy.”
    <em>
     Synthese
    </em>
    (). doi:
    <a href="https://doi.org/10.1007/s11229-022-03717-8">
     10.1007/s11229-022-03717-8
    </a>
    . url:
    <a href="http://philsci-archive.pitt.edu/id/eprint/20501">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedrosong:_blind_cooper">
  </dt>
  <dd class="thebibliography" id="bib-2">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedrosong:_blind_cooper">
    </a>
    — (2021).   “Blind   Cooperation:   The   Evolution   of   Redundancy   via
   Ignorance.”
    <em>
     The British Journal for the Philosophy of Science
    </em>
    . doi:
    <a href="https://doi.org/10.1093/bjps/axz022">
     10.
   1093/bjps/axz022
    </a>
    . url:
    <a href="http://philsci-archive.pitt.edu/id/eprint/16075">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedrosong:_formin_lineag_stick_toget">
  </dt>
  <dd class="thebibliography" id="bib-3">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedrosong:_formin_lineag_stick_toget">
    </a>
    — (2019). “Forming Lineages by Sticking Together.”
    <em>
     Philosophy, Theory,
   and Practice in Biology
    </em>
    . doi:
    <a href="https://doi.org/10.3998/ptpbio.16039257.0011.016">
     10.3998/ptpbio.16039257.0011.016
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedrosong:_book_review">
  </dt>
  <dd class="thebibliography" id="bib-4">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedrosong:_book_review">
    </a>
    — (2018a). “Book Review. Principles of Evolution: Systems, Species, and
   the History of Life by Jonathan Bard.”
    <em>
     The Quarterly Review of Biology
    </em>
    .
   doi:
    <a href="https://doi.org/10.1086/698064">
     10.1086/698064
    </a>
    . url:
    <a href="static/docs/review_bard-principles-of-evolution.pdf">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedrosoed:_impac">
  </dt>
  <dd class="thebibliography" id="bib-5">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedrosoed:_impac">
    </a>
    — (2018b). “The Impact of Population Bottlenecks on the Social Lives of
   Microbes.”
    <em>
     Biological Theory
    </em>
    13, pp. 190–198. doi:
    <a href="https://doi.org/10.1007/s13752-018-0298-6">
     10.1007/s13752-
   018-0298-6
    </a>
    . url:
    <a href="static/docs/pedroso_bottlenecks.pdf">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedroso2016inheritance">
  </dt>
  <dd class="thebibliography" id="bib-6">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso2016inheritance">
    </a>
    — (2017).  “Inheritance  by  recruitment:  A  reply  to  Clarke’s  ‘Levels  of
   selection in biofilms’.”
    <em>
     Biology &amp; Philosophy
    </em>
    32, pp. 127–131. url:
    <a href="static/docs/reply-to-clarke.pdf">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-ereshefskyth:_rethin_evolut_indiv">
  </dt>
  <dd class="thebibliography" id="bib-7">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@ereshefskyth:_rethin_evolut_indiv">
    </a>
    Ereshefsky,   M.   and   M.   Pedroso   (2015a).   “Rethinking   Evolutionary
   Individuality.”
    <em>
     Proceedings  of  the  National  Academy  of  Sciences
    </em>
    112,
   pp. 10126–10132. doi:
    <a href="https://doi.org/10.1073/pnas.1421377112">
     10.1073/pnas.1421377112
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-ereshefskyth:_what_biofil_can_teach_us_about_indiv">
  </dt>
  <dd class="thebibliography" id="bib-8">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@ereshefskyth:_what_biofil_can_teach_us_about_indiv">
    </a>
    — (2015b).   “What   biofilms   can   teach   us   about   individuality.”   In:
    <em>
     <a href="https://global.oup.com/academic/product/individuals-across-the-sciences-9780199382514?cc=us&amp;lang=en&amp;">
      Individuals  Across  Sciences
     </a>
    </em>
    .  Ed.  by  T.  Pradeu  and  A.  Guay.  Oxford
   University Press.
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedroso15:_book_review">
  </dt>
  <dd class="thebibliography" id="bib-9">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso15:_book_review">
    </a>
    Pedroso,  M.  (2015a).  “Book  Review.  From  Groups  to  Individuals  by  F.
   Bouchard and P. Huneman.”
    <em>
     Acta Biotheoretica
    </em>
    1, pp. 83–86.
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedroso2015philosophy">
  </dt>
  <dd class="thebibliography" id="bib-10">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso2015philosophy">
    </a>
    — (2015b). “Starting small: Using little microbes to tackle big philosophical
   problems (Essay Review).”
    <em>
     Studies in History and Philosophy of Science
   Part C: Studies in History and Philosophy of Biological and Biomedical
   Sciences
    </em>
    53. doi:
    <a href="https://doi.org/10.1016/j.shpsc.2015.05.001">
     10.1016/j.shpsc.2015.05.001
    </a>
    . url:
    <a href="static/docs/review-of-phil-of-microbiology.pdf">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedroso2013origin">
  </dt>
  <dd class="thebibliography" id="bib-11">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso2013origin">
    </a>
    — (2014).  “Origin  essentialism  in  biology.”
    <em>
     The Philosophical Quarterly
    </em>
    64.254, pp. 60–81. doi:
    <a href="https://doi.org/10.1093/pq/pqt011">
     10.1093/pq/pqt011
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-ereshefskyss:_biolog">
  </dt>
  <dd class="thebibliography" id="bib-12">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@ereshefskyss:_biolog">
    </a>
    Ereshefsky, M. and M. Pedroso (2013). “Biological individuality: the case of
   biofilms.”
    <em>
     Biology &amp; Philosophy
    </em>
    28, pp. 331–349. url:
    <a href="static/docs/biological-individuals.pdf">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedroso13:_book_review">
  </dt>
  <dd class="thebibliography" id="bib-13">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso13:_book_review">
    </a>
    Pedroso,  M.  (2013).  “Book  Review.  The  Species  Problem  by  Richard
   Richards.”
    <em>
     Mind
    </em>
    122, pp. 1180–1182. doi:
    <a href="https://doi.org/10.1093/mind/fzu019">
     10.1093/mind/fzu019
    </a>
    . url:
    <a href="static/docs/pedroso_review-species-problem.pdf">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedroso12:_essen_histor_biolog_taxa">
  </dt>
  <dd class="thebibliography" id="bib-14">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso12:_essen_histor_biolog_taxa">
    </a>
    — (2012). “Essentialism, History, and Biological Taxa.”
    <em>
     Studies in History
   and Philosophy of Science Part C: Studies in History and Philosophy of
   Biological and Biomedical Sciences
    </em>
    43, pp. 182–190. doi:
    <a href="https://doi.org/10.1016/j.shpsc.2011.10.019">
     10.1016/j.
   shpsc.2011.10.019
    </a>
    . url:
    <a href="static/docs/ancestor-paper.pdf">
     <span class="underline">
      Preprint
     </span>
    </a>
    .
   </p>
  </dd>
  <dt class="thebibliography" id="X0-pedroso08">
  </dt>
  <dd class="thebibliography" id="bib-15">
   <!--l. 29-->
   <p class="noindent">
    <a id="cite.0@pedroso08">
    </a>
    — (2008). “On three arguments against categorical structuralism.”
    <em>
     Synthese
    </em>
    170.1, pp. 21–31. issn: 1573-0964. doi:
    <a href="https://doi.org/10.1007/s11229-008-9346-2">
     10.1007/s11229-008-9346-2
    </a>
    .
   </p>
  </dd>
 </dl>
</div>
