<div class="latex">
 <!--l. 21-->
 <p class="indent">
  <br class="newline"/>
 </p>
 <h4 class="subsectionHead" id="Week1">
  <span class="titlemark">
   Week 1
  </span>
  <a id="x1-1000Week 1">
  </a>
  What is Complexity?
 </h4>
 <!--l. 29-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-2000Week 1">
  </a>
  01-27-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   No required readings
  </li>
 </ul>
 <!--l. 32-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-3000Week 1">
  </a>
  01-29-20
 </h5>
 <!--l. 33-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-3002x1">
   M.  Mitchell.  “What  Is  Complexity?”  In:
   <em>
    Complexity:  A  guided  tour
   </em>
   .
     Oxford University Press, 2009.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EU_5gMEccBFOqzAE6oC0abABhJL8EjMgo1r82wL02BZoug?e=9wQvQP">
    Link
   </a>
  </li>
  <li class="enumerate" id="x1-3003x1">
   <em>
    Optional reading
   </em>
   :  L.  Laplane  et  al.  “Why  science  needs  philosophy.”
   <em>
    Proceedings   of   the   National   Academy   of   Sciences
   </em>
   116   (2019),
     pp. 3948–3952.
   <a href="https://doi.org/10.1073/pnas.1900357116">
    Link
   </a>
  </li>
 </ol>
 <!--l. 38-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week2">
  <span class="titlemark">
   Week 2
  </span>
  <a id="x1-4000Week 2">
  </a>
  Darwin’s Inversion of Reasoning
 </h4>
 <!--l. 40-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-5000Week 2">
  </a>
  02-03-20
 </h5>
 <!--l. 41-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-5002x1">
   R.   Dawkins.   “Explaining   the   very   improbable.”   In:
   <em>
    The   Blind
     Watchmaker
   </em>
   . WW Norton &amp; Company, 1996.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESGyTXGrOt9Mgxej1tCfZTwBDZCmo6L-ShcSDBausUnjCg?e=rRD2SI">
    Link
   </a>
  </li>
  <li class="enumerate" id="x1-5004x2">
   D.  Dennett.  “Algorithms.”  In:
   <em>
    Intuition  pumps  and  other  tools  for
     thinking
   </em>
   . WW Norton &amp; Company, 2013.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ea_C0nvo5WpLsuy7Rke3zRYBI0u7WRyeTov0Xhmb1WM9Vg?e=jUao6O">
    Link
   </a>
  </li>
  <li class="enumerate" id="x1-5005x2">
   <em>
    Optional reading
   </em>
   : D. Dennett. “Tell Me Why.” In:
   <em>
    Darwin’s Dangerous
     Idea
   </em>
   . New York: Simon and Schuster, 1995.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EdYIUlST4A1EjYZctS6XpJ4BeBKaNgPt2myNV424m4xmWg?e=7D4R3d">
    Link
   </a>
  </li>
 </ol>
 <!--l. 47-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-6000Week 2">
  </a>
  02-05-20
 </h5>
 <!--l. 48-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-6002x1">
   J.  Coyne.  “What  is  Evolution?”  In:
   <em>
    Why  Evolution  Is  True
   </em>
   .  Oxford
     University Press, 2010.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EXJl9GZeBcpOiyEhR2a5xrMBPDzXHzCLB6oB40ksg9ekMA?e=iTrZPL">
    Link
   </a>
  </li>
 </ol>
 <!--l. 52-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week3">
  <span class="titlemark">
   Week 3
  </span>
  <a id="x1-7000Week 3">
  </a>
  Replicators
 </h4>
 <!--l. 53-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-8000Week 3">
  </a>
  02-10-20
 </h5>
 <!--l. 54-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-8002x1">
   R. Dawkins. “The Replicators.” In:
   <em>
    The Selfish Gene
   </em>
   . Oxford: Oxford
     University Press, 1976.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EWg1xicLDB1IvlOBXYTnUxQBbjPojMCAf1deqx7Do-66yQ?e=whcF08">
    Link
   </a>
  </li>
  <li class="enumerate" id="x1-8004x2">
   “Parasite  Makes  Ants  Resemble  Berries.”
   <em>
    National Geographic
   </em>
   (2008).
   <a href="https://www.nationalgeographic.com/animals/2008/01/parasite-transforms-ants-into-berries/">
    Link
   </a>
  </li>
 </ol>
 <!--l. 59-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-9000Week 3">
  </a>
  02-12-20
 </h5>
 <!--l. 60-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-9002x1">
   J.  Diamond.  “The  Great  Leap  Forward.”  In:
   <em>
    The  Third  Chimpanzee
   </em>
   .
     Harper Perennial, 1993.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ERCO0tNZmF1Ov9HlGDpTOTsB0ldc7Amg--2im1hG2Ra-0A?e=Wkdgqk">
    Link
   </a>
  </li>
  <li class="enumerate" id="x1-9004x2">
   R. Dawkins. “Memes: The new replicators.” In:
   <em>
    The Selfish Gene
   </em>
   . Oxford:
     Oxford University Press, 1976.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EcSBBTx4Z5FAt_p7mF-OmcYBut9k0e5ydV-kDsBriRMbzQ?e=GRC1yZ">
    Link
   </a>
  </li>
 </ol>
 <!--l. 65-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week4">
  <span class="titlemark">
   Week 4
  </span>
  <a id="x1-10000Week 4">
  </a>
  Environmental Interaction
 </h4>
 <!--l. 66-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-11000Week 4">
  </a>
  02-17-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   D  Hull.  “Individuality  and  selection.”
   <em>
    Annual  Review  of  Ecology  and
     Systematics
   </em>
   11 (1980), pp. 311–332.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EWm2N7TnVn9FngaRFxQUw1UBqK-GEmjOKEQDLIQY6x38ug?e=N9bCpl">
    Link
   </a>
  </li>
 </ul>
 <!--l. 71-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-12000Week 4">
  </a>
  02-19-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   Peer-review
  </li>
 </ul>
 <!--l. 76-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week5">
  <span class="titlemark">
   Week 5
  </span>
  <a id="x1-13000Week 5">
  </a>
  Fitness
 </h4>
 <!--l. 77-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-14000Week 5">
  </a>
  02-24-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   E. Sober. “Fitness.” In:
   <em>
    Philosophy of Biology
   </em>
   . 2nd. Westview Press, 2000.
     Chap. 3.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EShP55lbw2NOptLllPe-5F0BxcnDLecpZQw9Dxch1pP7kQ?e=JaaA9Y">
    Link
   </a>
  </li>
 </ul>
 <!--l. 82-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-15000Week 5">
  </a>
  02-26-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   R.  Dawkins.  “An  Agony  in  Five  Fits.”  In:
   <em>
    The  Extended  Phenotype
   </em>
   .
     Oxford: Oxford University Press, 1982.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYKHrzE2nBxGo4sDcCT03dEBA477DvlwWav5t3SgQ4E-Zg?e=sIiAvM">
    Link
   </a>
  </li>
 </ul>
 <!--l. 87-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week6">
  <span class="titlemark">
   Week 6
  </span>
  <a id="x1-16000Week 6">
  </a>
  Organisms
 </h4>
 <!--l. 88-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-17000Week 6">
  </a>
  03-02-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   P.  Godfrey-Smith.  “Individuals.”  In:
   <em>
    Philosophy  of  Biology
   </em>
   .  Princeton
     University Press, 2016. Chap. 5.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ES7YEBA6TAtLkcBmRqHkWDcBThjTvHiKyiuVh40WBOYYnA?e=HMAfhR">
    Link
   </a>
  </li>
 </ul>
 <!--l. 93-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-18000Week 6">
  </a>
  03-04-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   R. Dawkins. “Rediscovering the Organism.” In:
   <em>
    The Extended Phenotype
   </em>
   .
     Oxford: Oxford University Press, 1982.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EVKphrfzb5ZCks1oqE4SasYBp1bWfVCreeT4WTYYcmpJ1A?e=3hG7L1">
    Link
   </a>
  </li>
 </ul>
 <!--l. 98-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week7">
  <span class="titlemark">
   Week 7
  </span>
  <a id="x1-19000Week 7">
  </a>
  Non-Adaptive Processes
 </h4>
 <!--l. 100-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-20000Week 7">
  </a>
  03-09-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   S.  Gould  and  R.  Lewontin.  “The  spandrels  of  San  Marco  and  the
     Panglossian  paradigm:  a  critique  of  the  adaptationist  programme.”
   <em>
    Proceedings of the Royal Society of London. Series B, Biological Sciences
   </em>
   205 (1979), pp. 581–598.
   <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EVK0ygfZ7nNDhr0ojHRLol8BtBm34ssOSY7newaSVpvsOw?e=oI7bMy">
    Link
   </a>
  </li>
 </ul>
 <!--l. 105-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-21000Week 7">
  </a>
  03-11-20
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   No class.
  </li>
 </ul>
 <!--l. 110-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week8">
  <span class="titlemark">
   Week 8
  </span>
  <a id="x1-22000Week 8">
  </a>
 </h4>
 <!--l. 111-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-23000Week 8">
  </a>
  03-16-20*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   Spring break
  </li>
 </ul>
 <!--l. 112-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-24000Week 8">
  </a>
  03-18-20*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   Spring break
  </li>
 </ul>
</div>
