<div class="latex">
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 1
  </span>
  <a id="x1-1000Module 1">
  </a>
  The Problem of the Commons
 </h3>
 <!--l. 25-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week1">
  <span class="titlemark">
   Week 1
  </span>
  <a id="x1-2000Week 1">
  </a>
  Evaluating moral arguments
 </h4>
 <!--l. 27-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-3000Week 1">
  </a>
  01-30-23
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 27-->
   <p class="noindent">
    No required readings
   </p>
  </li>
 </ul>
 <!--l. 30-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-4000Week 1">
  </a>
  02-01-23
 </h5>
 <!--l. 31-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-4002x1">
   <!--l. 32-->
   <p class="noindent">
    <a id="x1-4003">
    </a>
    J. Rachels and S. Rachels. “What is Morality?” In:
    <em>
     The Elements of Moral
     Philosophy
    </em>
    . McGraw-Hill New York, 1993.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EX1dXPG9srVOmXKGfe4jookBQl-cQJJq1mitJyjuE-07Pw?e=pEOgII">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 36-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week2">
  <span class="titlemark">
   Week 2
  </span>
  <a id="x1-5000Week 2">
  </a>
  The tragedy of the commons
 </h4>
 <!--l. 38-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-6000Week 2">
  </a>
  02-06-23
 </h5>
 <!--l. 39-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-6002x1">
   <!--l. 40-->
   <p class="noindent">
    <a id="x1-6003">
    </a>
    M. Ridley. “Ecology as Religion.” In:
    <em>
     The Origins of Virtue
    </em>
    . Penguin
     UK, 1997.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Eay2N7Cn9UFGuscCa0GKkCcBG3lw2_KPBjssic5HYwzYCQ?e=GfSUST">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-6004x1">
   <!--l. 42-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-6005">
    </a>
    J. Diamond. “Easter’s End.”
    <em>
     Discover
    </em>
    (1995).
    <a href="http://discovermagazine.com/1995/aug/eastersend543">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 45-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-7000Week 2">
  </a>
  02-08-23
 </h5>
 <!--l. 46-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-7002x1">
   <!--l. 47-->
   <p class="noindent">
    <a id="x1-7003">
    </a>
    The Tragedy of the Commons (definition).
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EfXdcEmS169Jscb2RFtvClkBIHZaspWMHLNsbz49F26JGg?e=b7X8Kx">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-7005x2">
   <!--l. 48-->
   <p class="noindent">
    <a id="x1-7006">
    </a>
    R. Roberts. “Incentives Matter.”
    <em>
     Econlib
    </em>
    (2016).
    <a href="https://www.econlib.org/library/Columns/y2006/Robertsincentives.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-7007x2">
   <!--l. 49-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-7008">
    </a>
    G.  Hardin.  “The  tragedy  of  the  commons.”
    <em>
     Science
    </em>
    162
     (1968), pp. 1243–1248.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYb5CBDanIVDn0QcYzEKo4ABHGSJDBi_yMhAbeTit35v8w?e=dCbWyv">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 59-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week3">
  <span class="titlemark">
   Week 3
  </span>
  <a id="x1-8000Week 3">
  </a>
  Prices
 </h4>
 <!--l. 60-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-9000Week 3">
  </a>
  02-13-23
 </h5>
 <!--l. 61-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-9002x1">
   <!--l. 62-->
   <p class="noindent">
    <a id="x1-9003">
    </a>
    M. Munger. “They Clapped: Can Price-Gouging Laws Prohibit Scarcity?”
    <em>
     Econlib
    </em>
    (2007).
    <a href="https://www.econlib.org/library/Columns/y2007/Mungergouging.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-9005x2">
   <!--l. 63-->
   <p class="noindent">
    <a id="x1-9006">
    </a>
    M. Sandel. “It’s Immoral to Buy the Right to Pollute.”
    <em>
     New York Times
    </em>
    (1997).
    <a href="https://www.nytimes.com/1997/12/15/opinion/it-s-immoral-to-buy-the-right-to-pollute.html?smid=url-share">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-9008x3">
   <!--l. 64-->
   <p class="noindent">
    <a id="x1-9009">
    </a>
    S. Shavell. “Emission Trading Will Lead to Less Pollution.”
    <em>
     New York
     Times
    </em>
    (1997).
    <a href="https://www.nytimes.com/1997/12/17/opinion/l-emissions-trading-will-lead-to-less-pollution-654051.html?smid=url-share">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-9011x4">
   <!--l. 65-->
   <p class="noindent">
    <a id="x1-9012">
    </a>
    L. Gross. “A human taste for rarity spells disaster for endangered species.”
    <em>
     PLoS Biology
    </em>
    4 (2006), e439.
    <a href="https://doi.org/10.1371/journal.pbio.0040439">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-9013x4">
   <!--l. 66-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-9014">
    </a>
    M. Friedman and R. Friedman. “The Power of the Market.”
     In:
    <em>
     Free to Choose: A Personal Statement
    </em>
    . Houghton Mifflin Harcourt,
     1990.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESTSPSagzYFKmJRyLUX1VdwBb3XOS9K8eE3HZTrCbg3Qpg?e=Omsr8C">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 70-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-10000Week 3">
  </a>
  02-15-23
 </h5>
 <!--l. 71-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-10002x1">
   <!--l. 72-->
   <p class="noindent">
    <a id="x1-10003">
    </a>
    “Handout: Externalities and Government Intervention”.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETdZv9Ri7HZJvZCg1fsEqMsB5Eqo90Jwp9DXG0N-XwTd7Q?e=3WlfMB">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-10005x2">
   <!--l. 73-->
   <p class="noindent">
    <a id="x1-10006">
    </a>
    M.   Valo.   “Guadeloupe   and   Martinique   threatened   as   pesticide
     contaminates food chain.”
    <em>
     The Guardian
    </em>
    (2013).
    <a href="https://www.theguardian.com/environment/2013/may/07/guadeloupe-economy-theatened-pesticides-pollution">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-10008x3">
   <!--l. 74-->
   <p class="noindent">
    <a id="x1-10009">
    </a>
    E. Rosenthal and A. Lehren. “Profits on Carbon Credits Drive Output
     of a Harmful Gas.”
    <em>
     The New York Times
    </em>
    (2012).
    <a href="https://www.nytimes.com/2012/08/09/world/asia/incentive-to-slow-climate-change-drives-output-of-harmful-gases.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-10010x3">
   <!--l. 75-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-10011">
    </a>
    D. Arnold and K. Bustos. “Business, ethics, and global climate
     change.”
    <em>
     Business &amp; Professional Ethics Journal
    </em>
    24 (2005), pp. 103–130.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ET3W3AukyHNJvz8qQisEEVoBOSyUD4l_45v1Wo-wmMygkQ?e=Krjo1C">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 79-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week4">
  <span class="titlemark">
   Week 4
  </span>
  <a id="x1-11000Week 4">
  </a>
  Ownership
 </h4>
 <!--l. 81-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-12000Week 4">
  </a>
  02-20-23
 </h5>
 <!--l. 82-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-12002x1">
   <!--l. 83-->
   <p class="noindent">
    <a id="x1-12003">
    </a>
    H. Baetjer. “Free Market Incentives Foster Service to Others.” In:
    <em>
     Free
     Our Markets
    </em>
    . Jane Philip Publications, 2013.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETX3qU6NY9BKvKuJjzIOvBkBbnLGrCLR0uL4_0L0CRacXA?e=pG2qW5">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 86-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-13000Week 4">
  </a>
  02-22-23
 </h5>
 <!--l. 87-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-13002x1">
   <!--l. 89-->
   <p class="noindent">
    <a id="x1-13003">
    </a>
    E. Stokstad. “Deep deficit.”
    <em>
     Science
    </em>
    (2020).
    <a href="https://www.science.org/content/article/droughts-exposed-california-s-thirst-groundwater-now-state-hopes-refill-its-aquifers">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-13005x2">
   <!--l. 90-->
   <p class="noindent">
    <a id="x1-13006">
    </a>
    M. Heller and J. Salzman. “How the Salvation of New York City Drinking
     Water Can Be a Model for Saving the Planet.”
    <em>
     LitHub
    </em>
    (2021).
    <a href="https://lithub.com/how-innovative-ownership-design-can-save-the-planet-from-ruin/">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 94-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week5">
  <span class="titlemark">
   Week 5
  </span>
  <a id="x1-14000Week 5">
  </a>
 </h4>
 <!--l. 95-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-15000Week 5">
  </a>
  02-27-23
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 95-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
 <!--l. 97-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-16000Week 5">
  </a>
  03-01-23
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 99-->
   <p class="noindent">
    <b>
     Exam #1
    </b>
   </p>
  </li>
 </ul>
 <!--l. 102-->
 <p class="noindent">
 </p>
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 2
  </span>
  <a id="x1-17000Module 2">
  </a>
  Inequality &amp; Sustainable Growth
 </h3>
 <!--l. 104-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week6">
  <span class="titlemark">
   Week 6
  </span>
  <a id="x1-18000Week 6">
  </a>
  What is wrong with inequality?
 </h4>
 <!--l. 106-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-19000Week 6">
  </a>
  03-06-23
 </h5>
 <!--l. 107-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-19002x1">
   <!--l. 108-->
   <p class="noindent">
    <a id="x1-19003">
    </a>
    J. Boyce. “The environmental cost of inequality.”
    <em>
     Scientific American
    </em>
    319 (2018), pp. 72–77.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ed9ERPKGl7hMmysedrfzE1YBA7xTnjojsY-g6dgOu8uHIQ?e=xd22Od">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-19005x2">
   <!--l. 109-->
   <p class="noindent">
    <a id="x1-19006">
    </a>
    M. Hanna-Attisha. “How a Pediatrician Became a Detective.”
    <em>
     The New
     York Times
    </em>
    (2018).
    <a href="https://www.nytimes.com/2018/06/09/opinion/sunday/flint-water-pediatrician-detective.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-19008x3">
   <!--l. 110-->
   <p class="noindent">
    <a id="x1-19009">
    </a>
    S. Bowles and A. Jayadev. “One nation under guard.”
    <em>
     The New York
     Times
    </em>
    (2014).
    <a href="https://opinionator.blogs.nytimes.com/2014/02/15/one-nation-under-guard/">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-19011x4">
   <!--l. 111-->
   <p class="noindent">
    <b>
     Optional
    </b>
    :
    <a id="x1-19012">
    </a>
    H. Frankfurt. “Economic Equality as a Moral Ideal.” In:
    <em>
     On
     Inequality
    </em>
    . Princeton University Press, 2015.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYWYncitcOFAuINClKJygnYBzHzMFJ_3UXrttgPve51d0Q?e=VLx7qY">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 115-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-20000Week 6">
  </a>
  03-08-23
 </h5>
 <!--l. 116-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-20002x1">
   <!--l. 117-->
   <p class="noindent">
    <a id="x1-20003">
    </a>
    R. Shafer-Landau. “Consequentialism.” In:
    <em>
     The Fundamentals of Ethics
    </em>
    .
     2009.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETF9K-KJPUtCg_N_OnRUK1MBTliOLIn1MHihC1mbj-TEog?e=TmeaQS">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 121-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week7">
  <span class="titlemark">
   Week 7
  </span>
  <a id="x1-21000Week 7">
  </a>
  Global poverty
 </h4>
 <!--l. 123-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-22000Week 7">
  </a>
  03-13-23
 </h5>
 <!--l. 124-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-22002x1">
   <!--l. 125-->
   <p class="noindent">
    <a id="x1-22003">
    </a>
    P. Singer. “Rich and Poor.” In:
    <em>
     Practical Ethics
    </em>
    . Cambridge University
     Press, 2011.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETBwLi1LdqBJmQUqRMx5IMYBNb2UxQSo1i0yaV1GEXGwYA?e=CR7eu7">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-22005x2">
   <!--l. 126-->
   <p class="noindent">
    <a id="x1-22006">
    </a>
    P. Singer. “Good charity, bad charity.”
    <em>
     The New York Times
    </em>
    (2013).
    <a href="https://www.nytimes.com/2013/08/11/opinion/sunday/good-charity-bad-charity.html">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 129-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-23000Week 7">
  </a>
  03-15-23
 </h5>
 <!--l. 130-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-23002x1">
   <!--l. 132-->
   <p class="noindent">
    <a id="x1-23003">
    </a>
    J. Sachs, A. Mellinger, and J. Gallup. “The geography of poverty and
     wealth.”
    <em>
     Scientific American
    </em>
    284 (2001), pp. 70–75.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ec1Dh5oefG5JtZwhnQpKKJ8BnbYgrjZXwjxUs3cahNFJdw?e=jQReP4">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-23005x2">
   <!--l. 133-->
   <p class="noindent">
    <a id="x1-23006">
    </a>
    D. Carrington. “Global use of mosquito nets for fishing ‘endangering
     humans and wildlife’.”
    <em>
     The Guardian
    </em>
    (2018).
    <a href="https://www.theguardian.com/environment/2018/jan/31/global-use-of-mosquito-nets-for-fishing-endangering-humans-and-wildlife">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 138-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week8">
  <span class="titlemark">
   Week 8
  </span>
  <a id="x1-24000Week 8">
  </a>
 </h4>
 <!--l. 139-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-25000Week 8">
  </a>
  03-20-23*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 140-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 142-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-26000Week 8">
  </a>
  03-22-23*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 143-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 145-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week9">
  <span class="titlemark">
   Week 9
  </span>
  <a id="x1-27000Week 9">
  </a>
  Future generations
 </h4>
 <!--l. 147-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-28000Week 9">
  </a>
  03-27-23
 </h5>
 <!--l. 148-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-28002x1">
   <!--l. 149-->
   <p class="noindent">
    <a id="x1-28003">
    </a>
    D. Acemoglu. “The Origins of Power, Prosperity, and Poverty.”
    <em>
     Cato
     Policy Report
    </em>
    (2012).
    <a href="https://www.cato.org/policy-report/july/august-2012/origins-power-prosperity-poverty">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-28005x2">
   <!--l. 150-->
   <p class="noindent">
    <a id="x1-28006">
    </a>
    D. Acemoglu and J. Robinson. “Why foreign aid fails—and how to really
     help Africa.”
    <em>
     The Spectator
    </em>
    (2014).
    <a href="https://www.spectator.co.uk/article/why-foreign-aid-fails---and-how-to-really-help-africa-22-april-2017">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-28008x3">
   <!--l. 151-->
   <p class="noindent">
    <b>
     Optional
    </b>
    :
    <a id="x1-28009">
    </a>
    D.  Acemoglu  and  J.  Robinson.  “The  problem  with  U.S.
     inequality.”
    <em>
     The Huffington Post
    </em>
    (2012).
    <a href="https://www.huffpost.com/entry/us-inequality_b_1338118?guccounter=1&amp;guce_referrer=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnLw&amp;guce_referrer_sig=AQAAAGZYbTkYFEQ-_vKx1KJYOfjLgo5O0TT0F6hclMd-VqrQfhVFNdafAayUp8VcqTTxprb9dFVwKg7QxO4G0CbKsE12cGVfdDPEGMkER5ChBMGVT4GVHERFk09K0jXymc8ib2zEU56k7I27yIlcIhdOaua09TCtm2bzPHxJ3Q17p1A3">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 154-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-29000Week 9">
  </a>
  03-29-23
 </h5>
 <!--l. 155-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-29002x1">
   <!--l. 156-->
   <p class="noindent">
    <a id="x1-29003">
    </a>
    W. MacAskill. “The Case for Longtermism.”
    <em>
     New York Times
    </em>
    (2022).
    <a href="https://www.nytimes.com/2022/08/05/opinion/the-case-for-longtermism.html?smid=url-share">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-29005x2">
   <!--l. 157-->
   <p class="noindent">
    <b>
     Optional
    </b>
    :
    <a id="x1-29006">
    </a>
    T. Cowen. “Should Peter Singer Favor Massive Redistribution
     or Economic Growth?”
    <em>
     Peter Singer Under Fire
    </em>
    (2011).
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EUHIibXlUMNAqLx5VZ6-F0cB45aV89AjBWtcn4ptbSHdxA?e=bFLkFD">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 160-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week10">
  <span class="titlemark">
   Week 10
  </span>
  <a id="x1-30000Week 10">
  </a>
 </h4>
 <!--l. 161-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-31000Week 10">
  </a>
  04-03-23
 </h5>
 <!--l. 162-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-31002x1">
   <!--l. 163-->
   <p class="noindent">
    <a id="x1-31003">
    </a>
    E. Hoel. “Why I am not an effective altruist.”
    <em>
     The Intrinsic Perspective
    </em>
    (2022).
    <a href="https://open.substack.com/pub/erikhoel/p/why-i-am-not-an-effective-altruist?utm_campaign=post&amp;utm_medium=web">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 166-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-32000Week 10">
  </a>
  04-05-23
 </h5>
 <!--l. 167-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-32002x1">
   <!--l. 168-->
   <p class="noindent">
    TBA
   </p>
  </li>
 </ol>
 <!--l. 171-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week11">
  <span class="titlemark">
   Week 11
  </span>
  <a id="x1-33000Week 11">
  </a>
 </h4>
 <!--l. 173-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-34000Week 11">
  </a>
  04-10-23
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 173-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
 <!--l. 175-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-35000Week 11">
  </a>
  04-12-23
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 177-->
   <p class="noindent">
    <b>
     Exam #2
    </b>
   </p>
  </li>
 </ul>
 <!--l. 181-->
 <p class="noindent">
 </p>
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 3
  </span>
  <a id="x1-36000Module 3">
  </a>
  Species &amp; Ecosystems
 </h3>
 <!--l. 183-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week12">
  <span class="titlemark">
   Week 12
  </span>
  <a id="x1-37000Week 12">
  </a>
  Animal welfare
 </h4>
 <!--l. 185-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-38000Week 12">
  </a>
  04-17-23
 </h5>
 <!--l. 186-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-38002x1">
   <!--l. 187-->
   <p class="noindent">
    TBA
   </p>
  </li>
 </ol>
 <!--l. 191-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-39000Week 12">
  </a>
  04-19-23
 </h5>
 <!--l. 192-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-39002x1">
   <!--l. 193-->
   <p class="noindent">
    <a id="x1-39003">
    </a>
    P. Singer. “All animals are equal.” In:
    <em>
     Animal Liberation
    </em>
    . Harper Collins,
     1975.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETWy1IT4mxFDtw97xupVsBABMEUOfnnud6MfQF1CUdB0nA?e=dAoa22">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 196-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week13">
  <span class="titlemark">
   Week 13
  </span>
  <a id="x1-40000Week 13">
  </a>
  Environmentalism
 </h4>
 <!--l. 198-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-41000Week 13">
  </a>
  04-24-23
 </h5>
 <!--l. 199-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-41002x1">
   <!--l. 200-->
   <p class="noindent">
    <a id="x1-41003">
    </a>
    J. Diamond. “Must we shoot deer to save nature?”
    <em>
     Natural History
    </em>
    101
     (1992), pp. 2–6.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETlnjkyOdbpLlrzoSoQ6jAgB2ytOvSTimS06wuyRZJ-d7g?e=K1K0vQ">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 203-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-42000Week 13">
  </a>
  04-26-23
 </h5>
 <!--l. 204-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-42002x1">
   <!--l. 205-->
   <p class="noindent">
    <a id="x1-42003">
    </a>
    M. Sagoff. “Animal liberation and environmental ethics: Bad marriage,
     quick divorce.”
    <em>
     Osgoode Hall Law Journal
    </em>
    22 (1984), pp. 297–307.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EeDeAkmPQABLv70kHVMeK7UBxFvbfzPNPCrkSRW7dnL5AA?e=ScY9Jp">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 208-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week14">
  <span class="titlemark">
   Week 14
  </span>
  <a id="x1-43000Week 14">
  </a>
 </h4>
 <!--l. 210-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-44000Week 14">
  </a>
  05-01-23
 </h5>
 <!--l. 211-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-44002x1">
   <!--l. 212-->
   <p class="noindent">
    <a id="x1-44003">
    </a>
    R.  Sandler.  “Intrinsic  Value,  Ecology,  and  Conservation.”
    <em>
     Nature
     Education Knowledge
    </em>
    (2012).
    <a href="https://www.nature.com/scitable/knowledge/library/intrinsic-value-ecology-and-conservation-25815400/">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-44005x2">
   <!--l. 213-->
   <p class="noindent">
    <a id="x1-44006">
    </a>
    N.  Hettinger.  “Conceptualizing  and  Evaluating  Non-Native  Species.”
    <em>
     Nature Education Knowledge
    </em>
    (2012).
    <a href="https://www-nature-com.proxy-tu.researchport.umd.edu/scitable/knowledge/library/conceptualizing-and-evaluating-non-native-species-80060037/">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 217-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-45000Week 14">
  </a>
  05-03-23
 </h5>
 <!--l. 218-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-45002x1">
   <!--l. 219-->
   <p class="noindent">
    <a id="x1-45003">
    </a>
    E. Willott. “Restoring nature, without mosquitoes?”
    <em>
     Restoration Ecology
    </em>
    12.2 (2004), pp. 147–153.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EbGig6VkuaFOqTKsB9ykC4EB0M_mcWhEOa42FcWJZkBInA?e=27qQ0">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 222-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week15">
  <span class="titlemark">
   Week 15
  </span>
  <a id="x1-46000Week 15">
  </a>
  Science &amp; Environmental Policy
 </h4>
 <!--l. 224-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-47000Week 15">
  </a>
  05-08-23
 </h5>
 <!--l. 225-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-47002x1">
   <!--l. 226-->
   <p class="noindent">
    <a id="x1-47003">
    </a>
    M. Pollan. “Precautionary Principle.”
    <em>
     The New York Times
    </em>
    (2001).
    <a href="https://www.nytimes.com/2001/12/09/magazine/the-year-in-ideas-a-to-z-precautionary-principle.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-47005x2">
   <!--l. 227-->
   <p class="noindent">
    <a id="x1-47006">
    </a>
    A. Stirling. “Why the precautionary principle matters.”
    <em>
     The Guardian
    </em>
    (2013).
    <a href="https://www.theguardian.com/science/political-science/2013/jul/08/precautionary-principle-science-policy">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-47008x3">
   <!--l. 228-->
   <p class="noindent">
    <a id="x1-47009">
    </a>
    T.  Brown.  “The  precautionary  principle  is  a  blunt  instrument.”
    <em>
     The
     Guardian
    </em>
    (2013).
    <a href="https://www.theguardian.com/science/political-science/2013/jul/09/precautionary-principle-blunt-instrument">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-47011x4">
   <!--l. 229-->
   <p class="noindent">
    <a id="x1-47012">
    </a>
    J. Norman et al. “Climate models and precautionary measures.”
    <em>
     Preprint
    </em>
    ().
    <a href="https://www.fooledbyrandomness.com/climateletter.pdf">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 232-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-48000Week 15">
  </a>
  05-10-23
 </h5>
 <!--l. 233-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-48002x1">
   <!--l. 234-->
   <p class="noindent">
    <a id="x1-48003">
    </a>
    N. Oreskes. “Science and public policy: what’s proof got to do with it?”
    <em>
     Environmental Science &amp; Policy
    </em>
    7.5 (2004), pp. 369–383.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EVd5guVAmHlNtqyuF9VeCyQBomm9TYneKHmS1cJs6_Nfmw?e=fPcZP2">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 239-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week16">
  <span class="titlemark">
   Week 16
  </span>
  <a id="x1-49000Week 16">
  </a>
 </h4>
 <!--l. 240-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-50000Week 16">
  </a>
  05-15-23
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 241-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
</div>
