<div class="latex">
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 1
  </span>
  <a id="x1-1000Module 1">
  </a>
  Where Does Morality Come From?
 </h3>
 <!--l. 25-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week1">
  <span class="titlemark">
   Week 1
  </span>
  <a id="x1-2000Week 1">
  </a>
  The moral sense
 </h4>
 <!--l. 27-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-3000">
  </a>
  08-26-24
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 27-->
   <p class="noindent">
    No required readings
   </p>
  </li>
 </ul>
 <!--l. 29-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-4000">
  </a>
  08-28-24
 </h5>
 <!--l. 30-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-4002x1">
   <!--l. 31-->
   <p class="noindent">
    <a id="x1-4003">
    </a>
    C. Buckley. “Man is rescued by stranger on subway tracks.”
    <em>
     The New
     York Times
    </em>
    3.1 (2007).
    <a href="https://www.nytimes.com/2007/01/03/nyregion/03life.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-4005x2">
   <!--l. 32-->
   <p class="noindent">
    <a id="x1-4006">
    </a>
    C. Booth. “The Bad Samaritan.”
    <em>
     Time
    </em>
    152.10 (1998), pp. 59–60.
    <a href="https://time.com/archive/6733445/the-bad-samaritan">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-4008x3">
   <!--l. 33-->
   <p class="noindent">
    <a id="x1-4009">
    </a>
    O. Issa. “25 years after conviction, Robert Latimer still believes he was
     right to kill his daughter.”
    <em>
     CBC News
    </em>
    (2019).
    <a href="https://www.cbc.ca/news/canada/saskatoon/robert-latimer-25-years-later-1.5360711">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-4010x3">
   <!--l. 34-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-4011">
    </a>
    L. MacFarquhar. “The Kindest Cut: What sort of person gives
     a kidney to a stranger?”
    <em>
     New Yorker
    </em>
    (2009), pp. 38–51.
    <a href="https://www.newyorker.com/magazine/2009/07/27/the-kindest-cut">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 37-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week2">
  <span class="titlemark">
   Week 2
  </span>
  <a id="x1-5000Week 2">
  </a>
  Morality from culture
 </h4>
 <!--l. 39-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-6000">
  </a>
  09-02-24*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 39-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 41-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-7000">
  </a>
  09-04-24
 </h5>
 <!--l. 42-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-7002x1">
   <!--l. 43-->
   <p class="noindent">
    <a id="x1-7003">
    </a>
    J. Rachels and S. Rachels. “The Challenge of Cultural Relativism.” In:
    <em>
     The Elements of Moral Philosophy
    </em>
    . McGraw-Hill New York, 1993.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYGQZXviyPpGimkEvDA3R7QBAT9cfC_ii5FNxCGWvJonnQ?e=hRgWkE">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-7005x2">
   <!--l. 44-->
   <p class="noindent">
    <a id="x1-7006">
    </a>
    K. Cuomo. “Interview with Fauziya Kassindja.”
    <em>
     PBS
    </em>
    (2000).
    <a href="http://www.pbs.org/speaktruthtopower/fauziya.html">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 48-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week3">
  <span class="titlemark">
   Week 3
  </span>
  <a id="x1-8000Week 3">
  </a>
  Morality from religion
 </h4>
 <!--l. 50-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-9000">
  </a>
  09-09-24
 </h5>
 <!--l. 51-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-9002x1">
   <!--l. 52-->
   <p class="noindent">
    <a id="x1-9003">
    </a>
    J. Rachels and S. Rachels. “Does Morality Depend on Religion?” In:
    <em>
     The
     Elements of Moral Philosophy
    </em>
    . McGraw-Hill New York, 1993.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZtVQ9LvoPBItqlTmzFrkFEBBiOMvfednXtWihTce2wJFw?e=LG0Fav">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 57-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-10000">
  </a>
  09-11-24
 </h5>
 <!--l. 58-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-10002x1">
   <!--l. 59-->
   <p class="noindent">
    <a id="x1-10003">
    </a>
    J. Diamond. “What Electric Eels Tell Us About the Evolution of Religion.”
     In:
    <em>
     The  World  Until  Yesterday:  What  can  we  learn  from  traditional
     societies?
    </em>
    Penguin, 2013.
    <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/ESXqqBzH_ZtBqOW5aBVSVyUBKojc8HNj9AkkLfc6N-6XYA">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 62-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week4">
  <span class="titlemark">
   Week 4
  </span>
  <a id="x1-11000Week 4">
  </a>
  What drives us?
 </h4>
 <!--l. 64-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-12000">
  </a>
  09-16-24
 </h5>
 <!--l. 65-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-12002x1">
   <!--l. 66-->
   <p class="noindent">
    <a id="x1-12003">
    </a>
    R. Shafer-Landau. “Hedonism.” In:
    <em>
     The Fundamentals of Ethics
    </em>
    . 2009.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZJbcKrXumJNuEHYQoIfEcYB207WMsMBBRjH98cHloqXAQ?e=XnaJFw">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-12005x2">
   <!--l. 67-->
   <p class="noindent">
    <a id="x1-12006">
    </a>
    R. Nozick. “The Experience Machine.” In:
    <em>
     Anarchy, State, and Utopia
    </em>
    .
     Basic Book, 1974.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EdwuQSlhA8hOsLZKRzu14zwB3teae05U2YgqTVAhigd5tg?e=P1RJHs">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 71-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-13000">
  </a>
  09-18-24
 </h5>
 <!--l. 72-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-13002x1">
   <!--l. 73-->
   <p class="noindent">
    <a id="x1-13003">
    </a>
    G. Loewenstein. “Because it is there: The challenge of mountaineering for
     utility theory.”
    <em>
     Kyklos
    </em>
    52.3 (1999), pp. 315–343.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ET72ncSLETFGhZDO8DD035QB5gb7fcDADdDHQeS382T8-A">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 76-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week5">
  <span class="titlemark">
   Week 5
  </span>
  <a id="x1-14000Week 5">
  </a>
  Do we feel or think our way to morality?
 </h4>
 <!--l. 77-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-15000">
  </a>
  09-23-24
 </h5>
 <!--l. 78-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-15002x1">
   <!--l. 79-->
   <p class="noindent">
    <a id="x1-15003">
    </a>
    J. Greene. “Efficiency, Flexibility, and the Dual-Process Brain.” In:
    <em>
     Moral
     Tribes: Emotion, reason, and the gap between us and them
    </em>
    . Penguin, 2014.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ET-lFjQMfbZJpaNKf1qdERYB4TZY6bhYpUtYssxhVt37vg?e=avjKod">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 82-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-16000">
  </a>
  09-25-24
 </h5>
 <!--l. 83-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-16002x1">
   <!--l. 84-->
   <p class="noindent">
    <a id="x1-16003">
    </a>
    J. Haidt. “The Intuitive Dog and Its Rational Tail.” In:
    <em>
     The Righteous
     Mind: Why good people are divided by politics and religion
    </em>
    . Vintage, 2012.
    <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/ERS6tPKI-YJBls9em5Pq17gBdVeFcm-H0BqLqEefjiDmLQ">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 87-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week6">
  <span class="titlemark">
   Week 6
  </span>
  <a id="x1-17000Week 6">
  </a>
  Evil
 </h4>
 <!--l. 89-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-18000">
  </a>
  09-30-24
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 91-->
   <p class="noindent">
    No class.
   </p>
  </li>
 </ul>
 <!--l. 94-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-19000">
  </a>
  10-02-24
 </h5>
 <!--l. 95-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-19002x1">
   <!--l. 96-->
   <p class="noindent">
    <a id="x1-19003">
    </a>
    R. Baumeister.
    <em>
     Evil: Inside human violence and cruelty (excerpts)
    </em>
    . 1999.
    <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EcXduVfEa0BEhCQTUY-f2w0BxzFg793Lc6Gq0h0CQBildw">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 99-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week7">
  <span class="titlemark">
   Week 7
  </span>
  <a id="x1-20000Week 7">
  </a>
 </h4>
 <!--l. 100-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-21000">
  </a>
  10-07-24
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 100-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
 <!--l. 102-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-22000">
  </a>
  10-09-24
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 104-->
   <p class="noindent">
    <b>
     Essay # 1
    </b>
   </p>
  </li>
 </ul>
 <!--l. 107-->
 <p class="noindent">
 </p>
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 2
  </span>
  <a id="x1-23000Module 2">
  </a>
  How Morality Evolved?
 </h3>
 <!--l. 109-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week8">
  <span class="titlemark">
   Week 8
  </span>
  <a id="x1-24000Week 8">
  </a>
  Empathy
 </h4>
 <!--l. 110-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-25000">
  </a>
  10-14-24
 </h5>
 <!--l. 111-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-25002x1">
   <!--l. 112-->
   <p class="noindent">
    <a id="x1-25003">
    </a>
    J. Greene. “Cushman et al’s experiment on human aggression.” In:
    <em>
     Moral
     Tribes: Emotion, reason, and the gap between us and them
    </em>
    . Penguin, 2014.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESgIqHIRPUpCuWkG3NObRvAB8sKHbYindnNKe6DNnEEn2g?e=RDp7uT">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-25005x2">
   <!--l. 113-->
   <p class="noindent">
    <a id="x1-25006">
    </a>
    T. Nagel. “Moral luck (excerpt).”
    <em>
     Proceedings of the Aristotelian Society
    </em>
    (1976).
    <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EZjw1FLssiNIrlNAwT4RrfcBFF0fnYci07Fqdeb4c2S3-Q">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-25008x3">
   <!--l. 114-->
   <p class="noindent">
    <a id="x1-25009">
    </a>
    R.  Burton.  “Pathological  certitude.”  In:  B.  Oakley  et  al.
    <em>
     Pathological
     altruism
    </em>
    . Oxford University Press, 2011.
    <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EQaNLqCbJwBJvmo74D6whNEBu5RYvFz6XYhACir5izSE-A">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 117-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-26000">
  </a>
  10-16-24
 </h5>
 <!--l. 118-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-26002x1">
   <!--l. 119-->
   <p class="noindent">
    <a id="x1-26003">
    </a>
    B.  Oakley.
    <em>
     Cold-blooded kindness (excerpts)
    </em>
    .  Prometheus  Books,  2011.
    <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EU0ZJ3kmaQZDvVpSLQLzTjABQ3n4rB0P5AdXULxRZcC1yw">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-26005x2">
   <!--l. 120-->
   <p class="noindent">
    <a id="x1-26006">
    </a>
    P. Bloom. “Against Empathy.”
    <em>
     Boston Review
    </em>
    (2014).
    <a href="https://www.bostonreview.net/forum/paul-bloom-against-empathy">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 123-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week9">
  <span class="titlemark">
   Week 9
  </span>
  <a id="x1-27000Week 9">
  </a>
  Morality as bargaining
 </h4>
 <!--l. 124-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-28000">
  </a>
  10-21-24
 </h5>
 <!--l. 125-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-28002x1">
   <!--l. 126-->
   <p class="noindent">
    <a id="x1-28003">
    </a>
    J.  Rachels  and  S.  Rachels.  “The  Social  Contract  Theory.”  In:
    <em>
     The
     Elements of Moral Philosophy
    </em>
    . McGraw-Hill New York, 1993.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EUAYrw-ohihDg84H77KEF-sBHYJVXwK7a6Kxz2ZNoEGzbA?e=wUnG3r">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-28005x2">
   <!--l. 127-->
   <p class="noindent">
    <a id="x1-28006">
    </a>
    J. Greene. “The Tragedy of the Commons.” In:
    <em>
     Moral Tribes: Emotion,
     reason, and the gap between us and them
    </em>
    . Penguin, 2014.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZ1wX-rtDnNApjtTxlgv5_IB2DKFoZFUPpO3kB_Gb5PL2g?e=fU5V8e">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 130-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-29000">
  </a>
  10-23-24
 </h5>
 <!--l. 131-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-29002x1">
   <!--l. 132-->
   <p class="noindent">
    <a id="x1-29003">
    </a>
    D. Krebs. “Bad by nature?” In:
    <em>
     The origins of morality: An evolutionary
     account
    </em>
    . Oxford University Press, 2011.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EaI87ysgvudMiu__RQKWcG0BTZwM226SmXJRCxwRtya7gg">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 135-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week10">
  <span class="titlemark">
   Week 10
  </span>
  <a id="x1-30000Week 10">
  </a>
  Kinship
 </h4>
 <!--l. 137-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-31000">
  </a>
  10-28-24
 </h5>
 <!--l. 138-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-31002x1">
   <!--l. 139-->
   <p class="noindent">
    <a id="x1-31003">
    </a>
    J. Birch. “Conceptualizing Social Behavior.” In:
    <em>
     The philosophy of social
     evolution
    </em>
    . Oxford University Press, 2017.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESGPmVAM6EFBjpRBiaGu_0MB58Y_ibAvC4gjz1zJQ2_XRQ">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 142-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-32000">
  </a>
  10-30-24
 </h5>
 <!--l. 143-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-32002x1">
   <!--l. 144-->
   <p class="noindent">
    <a id="x1-32003">
    </a>
    D.  Krebs.  “The  evolution  of  altruism  through  kin  selection.”  In:
    <em>
     The
     origins of morality: An evolutionary account
    </em>
    . Oxford University Press,
     2011.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETiBCFsog_BAh_vgUKaEF8ABzO2LN8KB1wDOdtQBLpiemw">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 148-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week11">
  <span class="titlemark">
   Week 11
  </span>
  <a id="x1-33000Week 11">
  </a>
  Learning
 </h4>
 <!--l. 150-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-34000">
  </a>
  11-04-24
 </h5>
 <!--l. 151-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-34002x1">
   <!--l. 152-->
   <p class="noindent">
    <a id="x1-34003">
    </a>
    R. Boyd, P. Richerson, and J. Henrich. “The cultural niche: Why social
     learning is essential for human adaptation.”
    <em>
     Proceedings of the National
     Academy of Sciences
    </em>
    108 (2011), pp. 10918–10925.
    <a href="https://doi.org/10.1073/pnas.1100290108">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 155-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-35000">
  </a>
  11-06-24
 </h5>
 <!--l. 156-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-35002x1">
   <!--l. 157-->
   <p class="noindent">
    <a id="x1-35003">
    </a>
    M.  Tomasello  and  Y.  Shimizu.  “The  origins  of  morality.”
    <em>
     Scientific
     American
    </em>
    (2018), pp. 70–75.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EcQYDTZG51dJvLp3kFUUfJ4BZFxXg8LKUOsV7xpVwE39gQ?e=CUvAXM">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 160-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week12">
  <span class="titlemark">
   Week 12
  </span>
  <a id="x1-36000Week 12">
  </a>
 </h4>
 <!--l. 162-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-37000">
  </a>
  11-11-24*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 162-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 163-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-38000">
  </a>
  11-13-24*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 163-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 165-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week13">
  <span class="titlemark">
   Week 13
  </span>
  <a id="x1-39000Week 13">
  </a>
  Group selection
 </h4>
 <!--l. 167-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-40000">
  </a>
  11-18-24
 </h5>
 <!--l. 168-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-40002x1">
   <!--l. 169-->
   <p class="noindent">
    <a id="x1-40003">
    </a>
    J. Henrich. “Self-Domestication.” In:
    <em>
     The Secret of Our Success
    </em>
    . Princeton
     University Press, 2015.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EUn90uzfRP1FocT0L-2nCngBRZguYLWnaUjYw9Lpfiov2g?e=d19fIA">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 173-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-41000">
  </a>
  11-20-24
 </h5>
 <!--l. 174-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-41002x1">
   <!--l. 175-->
   <p class="noindent">
    <a id="x1-41003">
    </a>
    J. Haidt. “Why are we so groupish?” In:
    <em>
     The Righteous Mind: Why good
     people are divided by politics and religion
    </em>
    . Vintage, 2012.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZRHvEkOqHVGvnYViTbjs4gBfqwavOTsDlKmJLwaeKcEZg?e=mpgQ9V">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-41004x1">
   <!--l. 176-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-41005">
    </a>
    D. Wilson and E. Wilson. “Evolution ‘for the good of the
     group.’”
    <em>
     American Scientist
    </em>
    96 (2008), pp. 380–389.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ec6BaTmDOXRJs8NH-7sGlZgB6ONGVweVnTE8gbYSgsyizg?e=hsHPGc">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 179-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week14">
  <span class="titlemark">
   Week 14
  </span>
  <a id="x1-42000Week 14">
  </a>
  Norms
 </h4>
 <!--l. 181-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-43000">
  </a>
  11-25-24
 </h5>
 <!--l. 182-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-43002x1">
   <!--l. 183-->
   <p class="noindent">
    <a id="x1-43003">
    </a>
    K. Simler and R. Hanson. “‘Norms’ and ‘Cheating’.” In:
    <em>
     The Elephant in
     the Brain
    </em>
    . Oxford University Press, 2017.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EV11w2iKla9FmuS2VaPwJpMBB1xqxMW9NPzDWtKaWaftlg?e=H3gumC">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 186-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-44000">
  </a>
  11-27-24*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 186-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 188-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week15">
  <span class="titlemark">
   Week 15
  </span>
  <a id="x1-45000Week 15">
  </a>
  Signaling
 </h4>
 <!--l. 190-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-46000">
  </a>
  12-02-24
 </h5>
 <!--l. 191-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-46002x1">
   <!--l. 192-->
   <p class="noindent">
    <a id="x1-46003">
    </a>
    K. Simler and R. Hanson. “Religion.” In:
    <em>
     The Elephant in the Brain
    </em>
    .
     Oxford University Press, 2017.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYTv73T9HeZMsc8Y35uvneYB6RZeAwk1_4jFD3XbzURhhw?e=e2PXt2">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 195-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-47000">
  </a>
  12-04-24
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 195-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
 <!--l. 197-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week16">
  <span class="titlemark">
   Week 16
  </span>
  <a id="x1-48000Week 16">
  </a>
 </h4>
 <!--l. 198-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-49000">
  </a>
  12-09-24
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 200-->
   <p class="noindent">
    Essay # 2
   </p>
  </li>
 </ul>
</div>

