<div class="latex">
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 1
  </span>
  <a id="x1-1000Module 1">
  </a>
  Where Does Morality Come From?
 </h3>
 <!--l. 24-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week1">
  <span class="titlemark">
   Week 1
  </span>
  <a id="x1-2000Week 1">
  </a>
  The moral sense
 </h4>
 <!--l. 26-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-3000Week 1">
  </a>
  08-29-22
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 26-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 28-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-4000Week 1">
  </a>
  08-31-22
 </h5>
 <!--l. 29-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-4002x1">
   <!--l. 30-->
   <p class="noindent">
    <a id="x1-4003">
    </a>
    C. Buckley. “Man is rescued by stranger on subway tracks.”
    <em>
     The New
     York Times
    </em>
    3.1 (2007).
    <a href="https://www.nytimes.com/2007/01/03/nyregion/03life.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-4005x2">
   <!--l. 31-->
   <p class="noindent">
    <a id="x1-4006">
    </a>
    C. Booth. “The Bad Samaritan.”
    <em>
     Time
    </em>
    152.10 (1998), pp. 59–60.
    <a href="http://content.time.com/time/magazine/article/0,9171,139892,00.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-4007x2">
   <!--l. 32-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-4008">
    </a>
    L. MacFarquhar. “The Kindest Cut: What sort of person
     gives a kidney to a stranger?”
    <em>
     New Yorker
    </em>
    (2009), pp. 38–51.
    <a href="https://www.newyorker.com/magazine/2009/07/27/the-kindest-cut">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 38-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week2">
  <span class="titlemark">
   Week 2
  </span>
  <a id="x1-5000Week 2">
  </a>
  Morality from culture
 </h4>
 <!--l. 40-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-6000Week 2">
  </a>
  09-05-22*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 41-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 43-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-7000Week 2">
  </a>
  09-07-22
 </h5>
 <!--l. 44-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-7002x1">
   <!--l. 45-->
   <p class="noindent">
    <a id="x1-7003">
    </a>
    J. Rachels and S. Rachels. “The Challenge of Cultural Relativism.” In:
    <em>
     The Elements of Moral Philosophy
    </em>
    . McGraw-Hill New York, 1993.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYGQZXviyPpGimkEvDA3R7QBAT9cfC_ii5FNxCGWvJonnQ?e=hRgWkE">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-7005x2">
   <!--l. 46-->
   <p class="noindent">
    <a id="x1-7006">
    </a>
    K. Cuomo. “Interview with Fauziya Kassindja.”
    <em>
     PBS
    </em>
    (2000).
    <a href="http://www.pbs.org/speaktruthtopower/fauziya.html">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-7007x2">
   <!--l. 47-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-7008">
    </a>
    P. Leeson. “Why the trial by ordeal was actually an effective
     test of guilt.”
    <em>
     Aeon
    </em>
    (2017).
    <a href="https://aeon.co/ideas/why-the-trial-by-ordeal-was-actually-an-effective-test-of-guilt">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 54-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week3">
  <span class="titlemark">
   Week 3
  </span>
  <a id="x1-8000Week 3">
  </a>
  Morality from religion
 </h4>
 <!--l. 56-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-9000Week 3">
  </a>
  09-12-22
 </h5>
 <!--l. 57-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-9002x1">
   <!--l. 58-->
   <p class="noindent">
    <a id="x1-9003">
    </a>
    S. Gould. “Nonoverlapping magisteria.”
    <em>
     Natural History
    </em>
    106.2 (1997),
     pp. 16–22.
    <a href="http://www.blc.arizona.edu/courses/schaffer/449/Gould%20Nonoverlapping%20Magisteria.htm">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-9005x2">
   <!--l. 59-->
   <p class="noindent">
    <a id="x1-9006">
    </a>
    R. Dawkins. “Obscurantism to the Rescue.”
    <em>
     The Quarterly Review of
     Biology
    </em>
    72.4 (1997), pp. 397–399.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EVlHpJ-MawhCrzHqF4XNs1UBf7mE1kHBiR-MwqJa_l_CCg?e=Ka9P7E">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 62-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-10000Week 3">
  </a>
  09-14-22
 </h5>
 <!--l. 63-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-10002x1">
   <!--l. 64-->
   <p class="noindent">
    <a id="x1-10003">
    </a>
    J. Rachels and S. Rachels. “Does Morality Depend on Religion?” In:
    <em>
     The
     Elements of Moral Philosophy
    </em>
    . McGraw-Hill New York, 1993.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZtVQ9LvoPBItqlTmzFrkFEBBiOMvfednXtWihTce2wJFw?e=LG0Fav">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 70-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week4">
  <span class="titlemark">
   Week 4
  </span>
  <a id="x1-11000Week 4">
  </a>
  Morality from pain and pleasure
 </h4>
 <!--l. 71-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-12000Week 4">
  </a>
  09-19-22
 </h5>
 <!--l. 72-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-12002x1">
   <!--l. 73-->
   <p class="noindent">
    <a id="x1-12003">
    </a>
    R. Shafer-Landau. “Consequentialism.” In:
    <em>
     The Fundamentals of Ethics
    </em>
    .
     2009.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETF9K-KJPUtCg_N_OnRUK1MBTliOLIn1MHihC1mbj-TEog?e=TmeaQS">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 76-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-13000Week 4">
  </a>
  09-21-22
 </h5>
 <!--l. 77-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-13002x1">
   <!--l. 78-->
   <p class="noindent">
    <a id="x1-13003">
    </a>
    P. Bloom. “Why We Choose to Suffer.”
    <em>
     The Wall Street Journal
    </em>
    (2021).
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EbDpQmJwxq9Pn3WcvN8FyLUBmzqIjjbyxSW06b5Mq9RHrQ?e=fJgvWX">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-13005x2">
   <!--l. 79-->
   <p class="noindent">
    <a id="x1-13006">
    </a>
    R. Nozick. “The Experience Machine.” In:
    <em>
     Anarchy, State, and Utopia
    </em>
    .
     Basic Book, 1974.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EdwuQSlhA8hOsLZKRzu14zwB3teae05U2YgqTVAhigd5tg?e=P1RJHs">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-13007x2">
   <!--l. 80-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-13008">
    </a>
    B. Williams. “A Critique of Utilitarianism.” In: J. Smart
     and B. Williams.
    <em>
     Utilitarianism: For and against
    </em>
    . Cambridge University
     Press, 1973.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EQtAxEg2sAhKu3pXVyZwI1wBwHbrA5X2Jtz5s9xQZDR_sg?e=QQBRi4">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 84-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week5">
  <span class="titlemark">
   Week 5
  </span>
  <a id="x1-14000Week 5">
  </a>
 </h4>
 <!--l. 85-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-15000Week 5">
  </a>
  09-26-22
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 86-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
 <!--l. 87-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-16000Week 5">
  </a>
  09-28-22
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 89-->
   <p class="noindent">
    <b>
     Exam #1
    </b>
   </p>
  </li>
 </ul>
 <!--l. 92-->
 <p class="noindent">
 </p>
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 2
  </span>
  <a id="x1-17000Module 2">
  </a>
  The Moral Instinct
 </h3>
 <!--l. 94-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week6">
  <span class="titlemark">
   Week 6
  </span>
  <a id="x1-18000Week 6">
  </a>
  Reason vs. emotion
 </h4>
 <!--l. 95-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-19000Week 6">
  </a>
  10-03-22
 </h5>
 <!--l. 96-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-19002x1">
   <!--l. 97-->
   <p class="noindent">
    <a id="x1-19003">
    </a>
    J. Greene. “Efficiency, Flexibility, and the Dual-Process Brain.” In:
    <em>
     Moral
     Tribes: Emotion, reason, and the gap between us and them
    </em>
    . Penguin, 2014.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ET-lFjQMfbZJpaNKf1qdERYB4TZY6bhYpUtYssxhVt37vg?e=avjKod">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-19005x2">
   <!--l. 98-->
   <p class="noindent">
    <a id="x1-19006">
    </a>
    J. Greene. “Cushman et al’s experiment on human aggression.” In:
    <em>
     Moral
     Tribes: Emotion, reason, and the gap between us and them
    </em>
    . Penguin, 2014.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESgIqHIRPUpCuWkG3NObRvAB8sKHbYindnNKe6DNnEEn2g?e=RDp7uT">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 101-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-20000Week 6">
  </a>
  10-05-22
 </h5>
 <!--l. 102-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-20002x1">
   <!--l. 103-->
   <p class="noindent">
    <a id="x1-20003">
    </a>
    F. De Waal. “Morally Evolved.” In:
    <em>
     Primates and philosophers: How
     morality evolved
    </em>
    . Princeton University Press, 2009.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESc8lFoRMQ9NofSbXlRhe-cBP76YBxUUus8C_gfWU5G9wA?e=OJdMxh">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 108-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week7">
  <span class="titlemark">
   Week 7
  </span>
  <a id="x1-21000Week 7">
  </a>
  What is evolution?
 </h4>
 <!--l. 109-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-22000Week 7">
  </a>
  10-10-22
 </h5>
 <!--l. 110-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-22002x1">
   <!--l. 111-->
   <p class="noindent">
    <a id="x1-22003">
    </a>
    R.   Dawkins.   “Explaining   the   very   improbable.”   In:
    <em>
     The  Blind
     Watchmaker
    </em>
    . WW Norton &amp; Company, 1996.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESGyTXGrOt9Mgxej1tCfZTwBDZCmo6L-ShcSDBausUnjCg?e=rRD2SI">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-22005x2">
   <!--l. 112-->
   <p class="noindent">
    <a id="x1-22006">
    </a>
    D.  Dennett.  “Algorithms.”  In:
    <em>
     Intuition  pumps  and  other  tools  for
     thinking
    </em>
    . WW Norton &amp; Company, 2013.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ea_C0nvo5WpLsuy7Rke3zRYBI0u7WRyeTov0Xhmb1WM9Vg?e=jUao6O">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 115-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-23000Week 7">
  </a>
  10-12-22
 </h5>
 <!--l. 116-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-23002x1">
   <!--l. 117-->
   <p class="noindent">
    <a id="x1-23003">
    </a>
    M.  Mitchell.  “Evolution.”  In:
    <em>
     Complexity:  A  guided  tour
    </em>
    .  Oxford
     University Press, 2009.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EQA7fim555BNo1TjVPP84DkB5rowNEYm63RxNlRgbz3m_w?e=sAEnMf">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 121-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week8">
  <span class="titlemark">
   Week 8
  </span>
  <a id="x1-24000Week 8">
  </a>
  The evolution of kin altruism
 </h4>
 <!--l. 122-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-25000Week 8">
  </a>
  10-17-22*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 122-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 124-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-26000Week 8">
  </a>
  10-19-22
 </h5>
 <!--l. 125-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-26002x1">
   <!--l. 126-->
   <p class="noindent">
    <a id="x1-26003">
    </a>
    L. Dugatkin. “All in the Family.” In:
    <em>
     Cheating Monkeys and Citizen Bees
    </em>
    .
     Harvard University Press, 2000.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EaEWXwredYdBonaKYVWDhdcBj4p3k352z_U8Ptn_Bf-9uA?e=mKm15p">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-26004x1">
   <!--l. 127-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-26005">
    </a>
    R. Dawkins. “Battle of the Generations.” In:
    <em>
     The Selfish
     Gene
    </em>
    . Oxford: Oxford University Press, 1976.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESjR1W6A3plJpPbFmMHD1LQB96hhvsyBzsdA2SBLcy4j6A?e=jlHRIf">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 130-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week9">
  <span class="titlemark">
   Week 9
  </span>
  <a id="x1-27000Week 9">
  </a>
 </h4>
 <!--l. 131-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-28000Week 9">
  </a>
  10-24-22*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 131-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 131-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-29000Week 9">
  </a>
  10-26-22*
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 131-->
   <p class="noindent">
    No class
   </p>
  </li>
 </ul>
 <!--l. 133-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week10">
  <span class="titlemark">
   Week 10
  </span>
  <a id="x1-30000Week 10">
  </a>
 </h4>
 <!--l. 134-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-31000Week 10">
  </a>
  10-31-22
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 135-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
 <!--l. 136-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-32000Week 10">
  </a>
  11-02-22
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 138-->
   <p class="noindent">
    <b>
     Exam #2
    </b>
   </p>
  </li>
 </ul>
 <!--l. 141-->
 <p class="noindent">
 </p>
 <h3 class="sectionHead">
  <span class="titlemark">
   Module 3
  </span>
  <a id="x1-33000Module 3">
  </a>
  Moral Norms
 </h3>
 <!--l. 143-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week11">
  <span class="titlemark">
   Week 11
  </span>
  <a id="x1-34000Week 11">
  </a>
  Morality by agreement
 </h4>
 <!--l. 145-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-35000Week 11">
  </a>
  11-07-22
 </h5>
 <!--l. 146-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-35002x1">
   <!--l. 147-->
   <p class="noindent">
    <a id="x1-35003">
    </a>
    J.  Rachels  and  S.  Rachels.  “The  Social  Contract  Theory.”  In:
    <em>
     The
     Elements of Moral Philosophy
    </em>
    . McGraw-Hill New York, 1993.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EUAYrw-ohihDg84H77KEF-sBHYJVXwK7a6Kxz2ZNoEGzbA?e=wUnG3r">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-35005x2">
   <!--l. 148-->
   <p class="noindent">
    <a id="x1-35006">
    </a>
    J. Greene. “The Tragedy of the Commons.” In:
    <em>
     Moral Tribes: Emotion,
     reason, and the gap between us and them
    </em>
    . Penguin, 2014.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZ1wX-rtDnNApjtTxlgv5_IB2DKFoZFUPpO3kB_Gb5PL2g?e=fU5V8e">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 151-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-36000Week 11">
  </a>
  11-09-22
 </h5>
 <!--l. 152-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-36002x1">
   <!--l. 153-->
   <p class="noindent">
    <a id="x1-36003">
    </a>
    R. Axelrod. “The Live-and-Let-Live System in Trench Warfare in World
     War I.” In:
    <em>
     The Evolution of Cooperation
    </em>
    . Revised. Basic Books, 2006.
     Chap. 4.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EffKaMTLpeNGt_uP8JtBWUoBRTZ2S-EpsMkngvRkNLBgQw?e=vtGJf7">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 158-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week12">
  <span class="titlemark">
   Week 12
  </span>
  <a id="x1-37000Week 12">
  </a>
  Culture matters
 </h4>
 <!--l. 160-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-38000Week 12">
  </a>
  11-14-22
 </h5>
 <!--l. 161-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-38002x1">
   <!--l. 162-->
   <p class="noindent">
    <a id="x1-38003">
    </a>
    R. Boyd, P. Richerson, and J. Henrich. “The cultural niche: Why social
     learning is essential for human adaptation.”
    <em>
     Proceedings of the National
     Academy of Sciences
    </em>
    108 (2011), pp. 10918–10925.
    <a href="https://doi.org/10.1073/pnas.1100290108">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 168-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-39000Week 12">
  </a>
  11-16-22
 </h5>
 <!--l. 169-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-39002x1">
   <!--l. 170-->
   <p class="noindent">
    <a id="x1-39003">
    </a>
    R. Dawkins. “Memes: The new replicators.” In:
    <em>
     The Selfish Gene
    </em>
    . Oxford:
     Oxford University Press, 1976.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EcSBBTx4Z5FAt_p7mF-OmcYBut9k0e5ydV-kDsBriRMbzQ?e=GRC1yZ">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 173-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week13">
  <span class="titlemark">
   Week 13
  </span>
  <a id="x1-40000Week 13">
  </a>
  Social norms
 </h4>
 <!--l. 174-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-41000Week 13">
  </a>
  11-21-22
 </h5>
 <!--l. 175-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-41002x1">
   <!--l. 176-->
   <p class="noindent">
    <a id="x1-41003">
    </a>
    K. Simler and R. Hanson. “‘Norms’ and ‘Cheating’.” In:
    <em>
     The Elephant in
     the Brain
    </em>
    . Oxford University Press, 2017.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EV11w2iKla9FmuS2VaPwJpMBB1xqxMW9NPzDWtKaWaftlg?e=H3gumC">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 179-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-42000Week 13">
  </a>
  11-23-22
 </h5>
 <!--l. 180-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-42002x1">
   <!--l. 181-->
   <p class="noindent">
    <a id="x1-42003">
    </a>
    J.  Henrich.  “Self-Domestication.”  In:
    <em>
     The  Secret  of  Our  Success
    </em>
    .
     Princeton University Press, 2015.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EUn90uzfRP1FocT0L-2nCngBRZguYLWnaUjYw9Lpfiov2g?e=d19fIA">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 185-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week14">
  <span class="titlemark">
   Week 14
  </span>
  <a id="x1-43000Week 14">
  </a>
  Group selection
 </h4>
 <!--l. 187-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-44000Week 14">
  </a>
  11-28-22
 </h5>
 <!--l. 188-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-44002x1">
   <!--l. 190-->
   <p class="noindent">
    TBA
   </p>
  </li>
 </ol>
 <!--l. 193-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-45000Week 14">
  </a>
  11-30-22
 </h5>
 <!--l. 194-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-45002x1">
   <!--l. 195-->
   <p class="noindent">
    <a id="x1-45003">
    </a>
    J. Haidt. “Why are we so groupish?” In:
    <em>
     The Righteous Mind: Why good
     people are divided by politics and religion
    </em>
    . Vintage, 2012.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZRHvEkOqHVGvnYViTbjs4gBfqwavOTsDlKmJLwaeKcEZg?e=mpgQ9V">
     Link
    </a>
   </p>
  </li>
  <li class="enumerate" id="x1-45004x1">
   <!--l. 196-->
   <p class="noindent">
    <b>
     Optional:
    </b>
    <a id="x1-45005">
    </a>
    D. Wilson and E. Wilson. “Evolution ‘for the good of the
     group.’”
    <em>
     American Scientist
    </em>
    96 (2008), pp. 380–389.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ec6BaTmDOXRJs8NH-7sGlZgB6ONGVweVnTE8gbYSgsyizg?e=hsHPGc">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 202-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week15">
  <span class="titlemark">
   Week 15
  </span>
  <a id="x1-46000Week 15">
  </a>
  Hidden motives
 </h4>
 <!--l. 203-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-47000Week 15">
  </a>
  12-05-22
 </h5>
 <!--l. 204-->
 <p class="noindent">
 </p>
 <ol class="enumerate1">
  <li class="enumerate" id="x1-47002x1">
   <!--l. 205-->
   <p class="noindent">
    <a id="x1-47003">
    </a>
    K. Simler and R. Hanson. “‘Self-Deception’ and ‘Counterfeit Reasons’.”
     In:
    <em>
     The Elephant in the Brain
    </em>
    . Oxford University Press, 2017.
    <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EZC55T-_IQdAsVO-E0tA3e0B-A_cpjcleueS0Csc9dza4w?e=GVeDR0">
     Link
    </a>
   </p>
  </li>
 </ol>
 <!--l. 208-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-48000Week 15">
  </a>
  12-07-22
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 210-->
   <p class="noindent">
    TBA
   </p>
  </li>
 </ul>
 <!--l. 213-->
 <p class="noindent">
 </p>
 <h4 class="subsectionHead" id="Week16">
  <span class="titlemark">
   Week 16
  </span>
  <a id="x1-49000Week 16">
  </a>
 </h4>
 <!--l. 214-->
 <p class="noindent">
 </p>
 <h5 class="likesubsubsectionHead">
  <a id="x1-50000Week 16">
  </a>
  12-12-22
 </h5>
 <ul class="itemize1">
  <li class="itemize">
   <!--l. 215-->
   <p class="noindent">
    No required readings (review)
   </p>
  </li>
 </ul>
</div>
