<div class="latex">

<h3 class="sectionHead"><span class="titlemark">Module 1   </span> <a id="x1-1000Module 1"></a>Natural resources</h3>
<!--l. 26--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week1"><span class="titlemark">Week 1   </span> <a id="x1-2000Week 1"></a>Evaluating moral arguments</h4>
<!--l. 28--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-3000"></a>01-27-25</h5>
<ul class="itemize1">
<li class="itemize">
<!--l. 28--><p class="noindent"> No required readings</p></li></ul>
<!--l. 31--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-4000"></a>01-29-25</h5>
<!--l. 32--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-4002x1">
<!--l. 33--><p class="noindent"><a id="x1-4003"></a>J. Rachels and S. Rachels. “What is Morality?” In: <em>The Elements of Moral
     Philosophy</em>. McGraw-Hill New York, 1993.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EX1dXPG9srVOmXKGfe4jookBQl-cQJJq1mitJyjuE-07Pw?e=pEOgII">Link</a></p></li></ol>
<!--l. 36--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week2"><span class="titlemark">Week 2   </span> <a id="x1-5000Week 2"></a></h4>
<!--l. 38--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-6000"></a>02-03-25</h5>
<!--l. 39--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-6002x1">
<!--l. 40--><p class="noindent"><a id="x1-6003"></a>M. Ridley. “Ecology as Religion.” In: <em>The Origins of Virtue</em>. Penguin UK,
     1997.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Eay2N7Cn9UFGuscCa0GKkCcBG3lw2_KPBjssic5HYwzYCQ?e=GfSUST">Link</a>
</p></li>
<li class="enumerate" id="x1-6004x1">
<!--l. 42--><p class="noindent"> <b>Optional:</b> <a id="x1-6005"></a>J. Diamond. “Easter’s End.” <em>Discover</em> (1995).  <a href="https://www.discovermagazine.com/planet-earth/easters-end">Link</a></p></li></ol>
<!--l. 45--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-7000"></a>02-05-25</h5>
<!--l. 46--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-7002x1">
<!--l. 47--><p class="noindent"><a id="x1-7003"></a>Daniel Kahneman. “The Characters of the Story.” In: <em>Thinking, Fast and
     Slow</em>. New York: New York: Farrar, Straus and Giroux, 2011.  <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/ESJncwWs7_ZPuAu-bMfjHcQBqQ_gyMnlD9x0xb6cOieTCA">Link</a>
</p></li>
<li class="enumerate" id="x1-7005x2">
<!--l. 48--><p class="noindent"><a id="x1-7006"></a>Daniel Kahneman. “Availability, Emotion, and Risk.” In: <em>Thinking, Fast
     and Slow</em>. New York: New York: Farrar, Straus and Giroux, 2011.  <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EUnXEwcTxIhCjdBAZ40-TAUB5_pY9UWhT1PzkeEJBHhKgw">Link</a></p></li></ol>
<!--l. 52--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week3"><span class="titlemark">Week 3   </span> <a id="x1-8000Week 3"></a>Prophets versus wizards</h4>
<!--l. 53--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-9000"></a>02-10-25</h5>
<!--l. 54--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-9002x1">
<!--l. 55--><p class="noindent"><a id="x1-9003"></a>P. Ehrlich. <em>The Population Bomb (Excerpts)</em>. New York: Ballantine Books,
     1968.  <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EbIp1JyekLpKgSCT3c2QH7UBfk6f9za0Lxu8D5KLoP57wA">Link</a>
</p></li>
<li class="enumerate" id="x1-9005x2">
<!--l. 56--><p class="noindent"><a id="x1-9006"></a>J. Simon. <em>The Ultimate Resource (Excerpts)</em>. 1981.  <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/ESyvSKceOldMqO7jZaVfkyEB4wczzr9FsCBEyW4_qvZNpw">Link</a>
</p></li>
<li class="enumerate" id="x1-9008x3">
<!--l. 57--><p class="noindent"><a id="x1-9009"></a>Washington Post Editorial Board. “The world’s population is 8 billion and
     rising. That’s probably a good thing.” <em>The Washington Post</em> (Nov. 2022).
     <a href="https://www.washingtonpost.com/opinions/2022/11/19/world-population-8-billion-people-growth/">Link</a>
</p></li>
<li class="enumerate" id="x1-9011x4">
<!--l. 58--><p class="noindent"><a id="x1-9012"></a>N.  Oreskes.  “Eight  Billion  People  in  the  World  Is  a  Crisis,  Not  an
     Achievement.” <em>Scientific American</em> (Mar. 2023).  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EQSSDMRGHgpCv_7C5qrVCHoBVNRuye1VDE4_K39_6-2BpA">Link</a></p></li></ol>
<!--l. 61--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-10000"></a>02-12-25</h5>
<!--l. 62--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-10002x1">
<!--l. 63--><p class="noindent"><a id="x1-10003"></a>C. Mann. “Can planet earth feed 10 billion people?” <em>The Atlantic</em> 23
     (2018).  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EWe1MYCkEk1JiJF6XdhVNQkB6ytK8UMVT9zKRCcj9NEr6w">Link</a></p></li></ol>
<!--l. 67--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week4"><span class="titlemark">Week 4   </span> <a id="x1-11000Week 4"></a>The commons</h4>
<!--l. 69--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-12000"></a>02-17-25</h5>
<!--l. 70--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-12002x1">
<!--l. 71--><p class="noindent"><a id="x1-12003"></a>G.  Hardin.  “The  tragedy  of  the  commons.”  <em>Science</em>  162  (1968),
     pp. 1243–1248.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYb5CBDanIVDn0QcYzEKo4ABHGSJDBi_yMhAbeTit35v8w?e=dCbWyv">Link</a></p></li></ol>
<!--l. 75--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-13000"></a>02-19-25</h5>
<!--l. 76--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-13002x1">
<!--l. 77--><p class="noindent"><a id="x1-13003"></a>J. Ausubel. “Nature Rebounds.” In: <em>Long Now Foundation Seminar</em>. San
     Francisco, Jan. 2015.  <a href="http://phe.rockefeller.edu/docs/Nature_Rebounds.pdf">Link</a></p></li></ol>
<!--l. 88--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week5"><span class="titlemark">Week 5   </span> <a id="x1-14000Week 5"></a>Prices</h4>
<!--l. 89--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-15000"></a>02-24-25</h5>
<!--l. 90--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-15002x1">
<!--l. 91--><p class="noindent"><a id="x1-15003"></a>R. Roberts. “Incentives Matter.” <em>Econlib</em> (2016).  <a href="https://www.econlib.org/library/Columns/y2006/Robertsincentives.html">Link</a>
</p></li>
<li class="enumerate" id="x1-15005x2">
<!--l. 92--><p class="noindent"><a id="x1-15006"></a>M. Munger. “They Clapped: Can Price-Gouging Laws Prohibit Scarcity?”
     <em>Econlib</em> (2007).  <a href="https://www.econlib.org/library/Columns/y2007/Mungergouging.html">Link</a>
</p></li>
<li class="enumerate" id="x1-15008x3">
<!--l. 93--><p class="noindent"><a id="x1-15009"></a>M. Sandel. “It’s Immoral to Buy the Right to Pollute.” <em>New York Times</em>
     (1997).  <a href="https://www.nytimes.com/1997/12/15/opinion/it-s-immoral-to-buy-the-right-to-pollute.html?smid=url-share">Link</a>
</p></li>
<li class="enumerate" id="x1-15011x4">
<!--l. 95--><p class="noindent"><a id="x1-15012"></a>L. Gross. “A human taste for rarity spells disaster for endangered species.”
     <em>PLoS Biology</em> 4 (2006), e439.  <a href="https://doi.org/10.1371/journal.pbio.0040439">Link</a>
</p></li>
<li class="enumerate" id="x1-15013x4">
<!--l. 96--><p class="noindent"> <b>Optional:</b> <a id="x1-15014"></a>M. Friedman and R. Friedman. “The Power of the Market.”
     In: <em>Free to Choose: A Personal Statement</em>. Houghton Mifflin Harcourt,
     1990.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ESTSPSagzYFKmJRyLUX1VdwBb3XOS9K8eE3HZTrCbg3Qpg?e=Omsr8C">Link</a></p></li></ol>
<!--l. 100--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-16000"></a>02-26-25</h5>
<!--l. 101--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-16002x1">
<!--l. 102--><p class="noindent"><a id="x1-16003"></a>“Handout: Externalities and Government Intervention”.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETdZv9Ri7HZJvZCg1fsEqMsB5Eqo90Jwp9DXG0N-XwTd7Q?e=3WlfMB">Link</a>
</p></li>
<li class="enumerate" id="x1-16005x2">
<!--l. 103--><p class="noindent"><a id="x1-16006"></a>M.   Valo.   “Guadeloupe   and   Martinique   threatened   as   pesticide
     contaminates food chain.” <em>The Guardian</em> (2013).  <a href="https://www.theguardian.com/environment/2013/may/07/guadeloupe-economy-theatened-pesticides-pollution">Link</a>
</p></li>
<li class="enumerate" id="x1-16008x3">
<!--l. 104--><p class="noindent"><a id="x1-16009"></a>E. Rosenthal and A. Lehren. “Profits on Carbon Credits Drive Output of
     a Harmful Gas.” <em>The New York Times</em> (2012).  <a href="https://www.nytimes.com/2012/08/09/world/asia/incentive-to-slow-climate-change-drives-output-of-harmful-gases.html">Link</a>
</p></li>
<li class="enumerate" id="x1-16010x3">
<!--l. 105--><p class="noindent"> <b>Optional:</b> <a id="x1-16011"></a>D. Arnold and K. Bustos. “Business, ethics, and global climate
     change.” <em>Business &amp; Professional Ethics Journal</em> 24 (2005), pp. 103–130.
     <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ET3W3AukyHNJvz8qQisEEVoBOSyUD4l_45v1Wo-wmMygkQ?e=Krjo1C">Link</a></p></li></ol>
<!--l. 109--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week6"><span class="titlemark">Week 6   </span> <a id="x1-17000Week 6"></a>Ownership</h4>
<!--l. 111--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-18000"></a>03-03-25</h5>
<!--l. 112--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-18002x1">
<!--l. 113--><p class="noindent"><a id="x1-18003"></a>H. Baetjer. “Free Market Incentives Foster Service to Others.” In: <em>Free
     Our Markets</em>. Jane Philip Publications, 2013.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETX3qU6NY9BKvKuJjzIOvBkBbnLGrCLR0uL4_0L0CRacXA?e=pG2qW5">Link</a>
</p></li>
<li class="enumerate" id="x1-18005x2">
<!--l. 114--><p class="noindent"><a id="x1-18006"></a>M. Heller and J. Salzman. “How the Salvation of New York City Drinking
     Water Can Be a Model for Saving the Planet.” <em>LitHub</em> (2021).  <a href="https://lithub.com/how-innovative-ownership-design-can-save-the-planet-from-ruin/">Link</a>
</p></li>
<li class="enumerate" id="x1-18007x2">
<!--l. 115--><p class="noindent"> <b>Optional:</b> <a id="x1-18008"></a>E. Stokstad. “Deep deficit.” <em>Science</em> (2020).  <a href="https://www.science.org/content/article/droughts-exposed-california-s-thirst-groundwater-now-state-hopes-refill-its-aquifers">Link</a></p></li></ol>
<!--l. 121--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-19000"></a>03-05-25</h5>
<ul class="itemize1">
<li class="itemize">
<!--l. 121--><p class="noindent"> No required readings (review)</p></li></ul>
<!--l. 123--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week7"><span class="titlemark">Week 7   </span> <a id="x1-20000Week 7"></a></h4>
<!--l. 124--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-21000"></a>03-10-25</h5>
<ul class="itemize1">
<li class="itemize">
<!--l. 126--><p class="noindent"> <b>Exam #1</b></p></li></ul>
<!--l. 129--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-22000"></a>03-12-25</h5>
<!--l. 130--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-22002x1">
<!--l. 131--><p class="noindent"><a id="x1-22003"></a>K. Simler and R. Hanson. “Consumption.” In: <em>The Elephant in the Brain</em>.
     Oxford University Press, 2017.  <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EVDO-F69TTFFp69lQ23p0hcBVyhcrOsDs7lnmbXwxuQJEw">Link</a></p></li></ol>
<!--l. 134--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week8"><span class="titlemark">Week 8   </span> <a id="x1-23000Week 8"></a>Spring break</h4>
<!--l. 135--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-24000"></a>03-17-25*</h5>
<ul class="itemize1">
<li class="itemize">
<!--l. 135--><p class="noindent"> No class</p></li></ul>
<!--l. 136--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-25000"></a>03-19-25*</h5>
<ul class="itemize1">
<li class="itemize">
<!--l. 136--><p class="noindent"> No class</p></li></ul>
<!--l. 138--><p class="noindent">
</p>
<h3 class="sectionHead"><span class="titlemark">Module 2   </span> <a id="x1-26000Module 2"></a>Expanding the moral circle</h3>
<!--l. 140--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week9"><span class="titlemark">Week 9   </span> <a id="x1-27000Week 9"></a>What is wrong with inequality?</h4>
<!--l. 142--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-28000"></a>03-24-25</h5>
<!--l. 143--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-28002x1">
<!--l. 144--><p class="noindent"><a id="x1-28003"></a>J. Boyce. “The environmental cost of inequality.” <em>Scientific American</em> 319
     (2018), pp. 72–77.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ed9ERPKGl7hMmysedrfzE1YBA7xTnjojsY-g6dgOu8uHIQ?e=xd22Od">Link</a>
</p></li>
<li class="enumerate" id="x1-28005x2">
<!--l. 146--><p class="noindent"><a id="x1-28006"></a>H. Frankfurt. “Economic Equality as a Moral Ideal.” In: <em>On Inequality</em>.
     Princeton University Press, 2015.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EYWYncitcOFAuINClKJygnYBzHzMFJ_3UXrttgPve51d0Q?e=VLx7qY">Link</a>
</p></li>
<li class="enumerate" id="x1-28008x3">
<!--l. 147--><p class="noindent"><a id="x1-28009"></a>M. Hanna-Attisha. “How a Pediatrician Became a Detective.” <em>The New
     York Times</em> (2018).  <a href="https://www.nytimes.com/2018/06/09/opinion/sunday/flint-water-pediatrician-detective.html">Link</a>
</p></li>
<li class="enumerate" id="x1-28010x3">
<!--l. 148--><p class="noindent"> <b>Optional</b>: <a id="x1-28011"></a>S. Bowles and A. Jayadev. “One nation under guard.” <em>The
     New York Times</em> (2014).  <a href="https://opinionator.blogs.nytimes.com/2014/02/15/one-nation-under-guard/">Link</a></p></li></ol>
<!--l. 152--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-29000"></a>03-26-25</h5>
<!--l. 153--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-29002x1">
<!--l. 154--><p class="noindent"><a id="x1-29003"></a>R. Shafer-Landau. “Consequentialism.” In: <em>The Fundamentals of Ethics</em>.
     2009.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETF9K-KJPUtCg_N_OnRUK1MBTliOLIn1MHihC1mbj-TEog?e=TmeaQS">Link</a></p></li></ol>
<!--l. 158--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week10"><span class="titlemark">Week 10   </span> <a id="x1-30000Week 10"></a>Global poverty</h4>
<!--l. 160--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-31000"></a>03-31-25</h5>
<!--l. 161--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-31002x1">
<!--l. 163--><p class="noindent"><a id="x1-31003"></a>P. Singer. “The Logic of Effective Altruism.” <em>Boston Review</em> (2015).  <a href="https://www.bostonreview.net/forum/peter-singer-logic-effective-altruism/">Link</a>
</p></li>
<li class="enumerate" id="x1-31005x2">
<!--l. 164--><p class="noindent"><a id="x1-31006"></a>P. Singer. “Good charity, bad charity.” <em>The New York Times</em> (2013).  <a href="https://www.nytimes.com/2013/08/11/opinion/sunday/good-charity-bad-charity.html">Link</a></p></li></ol>
<!--l. 167--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-32000"></a>04-02-25</h5>
<!--l. 168--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-32002x1">
<!--l. 169--><p class="noindent"><a id="x1-32003"></a>K.  Simler  and  R.  Hanson.  “Charity.”  In:  <em>The Elephant in the Brain</em>.
     Oxford University Press, 2017.  <a href="https://tu-my.sharepoint.com/:u:/g/personal/mpedroso_towson_edu/EX7PFT_VzzZDrJrUa3D_jnsBm10MTTEUQ4aGk4_Ku_pNIQ">Link</a></p></li></ol>
<!--l. 173--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week11"><span class="titlemark">Week 11   </span> <a id="x1-33000Week 11"></a>Growth</h4>
<!--l. 175--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-34000"></a>04-07-25</h5>
<!--l. 176--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-34002x1">
<!--l. 178--><p class="noindent"><a id="x1-34003"></a>E. Hoel. “Why I am not an effective altruist.” <em>The Intrinsic Perspective</em>
     (2022).  <a href="https://open.substack.com/pub/erikhoel/p/why-i-am-not-an-effective-altruist?utm_campaign=post&amp;utm_medium=web">Link</a>
</p></li>
<li class="enumerate" id="x1-34005x2">
<!--l. 179--><p class="noindent"><a id="x1-34006"></a>J. Sachs, A. Mellinger, and J. Gallup. “The geography of poverty and
     wealth.” <em>Scientific American</em> 284 (2001), pp. 70–75.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/Ec1Dh5oefG5JtZwhnQpKKJ8BnbYgrjZXwjxUs3cahNFJdw?e=jQReP4">Link</a></p></li></ol>
<!--l. 186--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-35000"></a>04-09-25</h5>
<!--l. 187--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-35002x1">
<!--l. 188--><p class="noindent"><a id="x1-35003"></a>D.  Acemoglu.  “The  Origins  of  Power,  Prosperity,  and  Poverty.”  <em>Cato
     Policy Report</em> (2012).  <a href="https://www.cato.org/policy-report/july/august-2012/origins-power-prosperity-poverty">Link</a>
</p></li>
<li class="enumerate" id="x1-35005x2">
<!--l. 189--><p class="noindent"><a id="x1-35006"></a>D. Acemoglu. “Response to Effective Altruism.” <em>Boston Review</em> (2015).
     <a href="https://www.bostonreview.net/forum_response/response-daron-acemoglu/">Link</a>
</p></li>
<li class="enumerate" id="x1-35007x2">
<!--l. 190--><p class="noindent"> <b>Optional</b>:  <a id="x1-35008"></a>D.  Acemoglu  and  J.  Robinson.  “The  problem  with  U.S.
     inequality.”  <em>The  Huffington  Post</em>  (2012).   <a href="https://www.huffpost.com/entry/us-inequality_b_1338118?guccounter=1&amp;guce_referrer=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnLw&amp;guce_referrer_sig=AQAAAGZYbTkYFEQ-_vKx1KJYOfjLgo5O0TT0F6hclMd-VqrQfhVFNdafAayUp8VcqTTxprb9dFVwKg7QxO4G0CbKsE12cGVfdDPEGMkER5ChBMGVT4GVHERFk09K0jXymc8ib2zEU56k7I27yIlcIhdOaua09TCtm2bzPHxJ3Q17p1A3">Link</a>;  <a id="x1-35009"></a>D.  Acemoglu  and  J.
     Robinson. “Why foreign aid fails—and how to really help Africa.” <em>The
     Spectator</em> (2014).  <a href="https://www.spectator.co.uk/article/why-foreign-aid-fails---and-how-to-really-help-africa-22-april-2017">Link</a></p></li></ol>
<!--l. 198--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week12"><span class="titlemark">Week 12   </span> <a id="x1-36000Week 12"></a>Animal welfare</h4>
<!--l. 200--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-37000"></a>04-14-25</h5>
<!--l. 201--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-37002x1">
<!--l. 202--><p class="noindent"><a id="x1-37003"></a>I. Kant. “We have no duties to animals.” <em>Lectures on Ethics</em> (1930).  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EWUDBwdesedGu2eOvJSHKPYB10xbeXfPx7J2wxS8sVhr8Q?e=1im6a0">Link</a>
</p></li>
<li class="enumerate" id="x1-37005x2">
<!--l. 203--><p class="noindent"><a id="x1-37006"></a>F. De Waal. “Animal rights.” In: <em>Primates and philosophers: How morality
     evolved</em>. Princeton University Press, 2009.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETZnq8fkM5FPtz01ULE2xagBe4rmiE3NUlA5KFbAn1pB8g?e=VJZRaJ">Link</a></p></li></ol>
<!--l. 208--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-38000"></a>04-16-25</h5>
<!--l. 209--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-38002x1">
<!--l. 210--><p class="noindent"><a id="x1-38003"></a>P. Singer. “All animals are equal.” In: <em>Animal Liberation</em>. Harper Collins,
     1975.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETWy1IT4mxFDtw97xupVsBABMEUOfnnud6MfQF1CUdB0nA?e=dAoa22">Link</a></p></li></ol>
<!--l. 214--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week13"><span class="titlemark">Week 13   </span> <a id="x1-39000Week 13"></a>Ecosystems</h4>
<!--l. 216--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-40000"></a>04-21-25</h5>
<!--l. 217--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-40002x1">
<!--l. 218--><p class="noindent"><a id="x1-40003"></a>J. Diamond. “Must we shoot deer to save nature?” <em>Natural History</em> 101
     (1992), pp. 2–6.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/ETlnjkyOdbpLlrzoSoQ6jAgB2ytOvSTimS06wuyRZJ-d7g?e=K1K0vQ">Link</a>
</p></li>
<li class="enumerate" id="x1-40005x2">
<!--l. 219--><p class="noindent"><a id="x1-40006"></a>N.  Hettinger.  “Conceptualizing  and  Evaluating  Non-Native  Species.”
     <em>Nature Education Knowledge</em> (2012).  <a href="https://www-nature-com.proxy-tu.researchport.umd.edu/scitable/knowledge/library/conceptualizing-and-evaluating-non-native-species-80060037/">Link</a></p></li></ol>
<!--l. 222--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-41000"></a>04-23-25</h5>
<!--l. 223--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-41002x1">
<!--l. 224--><p class="noindent"><a id="x1-41003"></a>M. Sagoff. “Animal liberation and environmental ethics: Bad marriage,
     quick divorce.” <em>Osgoode Hall Law Journal</em> 22 (1984), pp. 297–307.  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EeDeAkmPQABLv70kHVMeK7UBxFvbfzPNPCrkSRW7dnL5AA?e=ScY9Jp">Link</a></p></li></ol>
<!--l. 235--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week14"><span class="titlemark">Week 14   </span> <a id="x1-42000Week 14"></a></h4>
<!--l. 237--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-43000"></a>04-28-25</h5>
<!--l. 238--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-43002x1">
<!--l. 239--><p class="noindent"><a id="x1-43003"></a>N. Hettinger and B. Throop. “Refocusing ecocentrism.” <em>Environmental
     Ethics</em> 21 (1999).  <a href="https://tu-my.sharepoint.com/:b:/g/personal/mpedroso_towson_edu/EdnNbCKoT8RPsowhVauddrYBt2HQh-vDCIJrIXVpKGQcQQ?e=SQeJ4C">Link</a></p></li></ol>
<!--l. 244--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-44000"></a>04-30-25</h5>
<!--l. 245--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-44002x1">
<!--l. 246--><p class="noindent">TBA</p></li></ol>
<!--l. 249--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week15"><span class="titlemark">Week 15   </span> <a id="x1-45000Week 15"></a>Uncertainty</h4>
<!--l. 251--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-46000"></a>05-05-25</h5>
<!--l. 252--><p class="noindent">
</p><ol class="enumerate1">
<li class="enumerate" id="x1-46002x1">
<!--l. 253--><p class="noindent"><a id="x1-46003"></a>M. Pollan. “Precautionary Principle.” <em>The New York Times</em> (2001).  <a href="https://www.nytimes.com/2001/12/09/magazine/the-year-in-ideas-a-to-z-precautionary-principle.html">Link</a>
</p></li>
<li class="enumerate" id="x1-46005x2">
<!--l. 254--><p class="noindent"><a id="x1-46006"></a>A. Stirling. “Why the precautionary principle matters.” <em>The Guardian</em>
     (2013).  <a href="https://www.theguardian.com/science/political-science/2013/jul/08/precautionary-principle-science-policy">Link</a>
</p></li>
<li class="enumerate" id="x1-46008x3">
<!--l. 255--><p class="noindent"><a id="x1-46009"></a>T.  Brown.  “The  precautionary  principle  is  a  blunt  instrument.”  <em>The
     Guardian</em> (2013).  <a href="https://www.theguardian.com/science/political-science/2013/jul/09/precautionary-principle-blunt-instrument">Link</a></p></li></ol>
<!--l. 259--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-47000"></a>05-07-25</h5>
<ul class="itemize1">
<li class="itemize">
<!--l. 259--><p class="noindent"> No required readings (review)</p></li></ul>
<!--l. 261--><p class="noindent">
</p>
<h4 class="subsectionHead" id="Week16"><span class="titlemark">Week 16   </span> <a id="x1-48000Week 16"></a></h4>
<!--l. 263--><p class="noindent">
</p>
<h5 class="likesubsubsectionHead"><a id="x1-49000"></a>05-12-25</h5>
<ul class="itemize1">
<li class="itemize">
<!--l. 265--><p class="noindent"><b>Exam # 2</b></p></li></ul>
</div>