{% extends "layouts/default.html" %}
{% block content %}

<div class="maketitle">
  <h2>Spring 2020</h2>
</div>

{% include 'includes/course-description-phil255.html' %}
<a href="/schedule5" class="btn btn-sm btn-a">View Schedule</a>


{% include 'includes/course-description-phil212.html' %}
<a href="/schedule3" class="btn btn-sm btn-a">View Schedule</a>


<div class="maketitle">
  <h2>Past Semesters</h2>
</div>

<a href="/schedule1"> PHIL255 - Fall 2019</a>
</br>
<a href="/schedule4"> PHIL460 - Spring 2019</a>
</br>
<a href="/schedule2"> PHIL342 - Fall 2018</a>


{% endblock %}