{% extends "layouts/default.html" %}
{% block content %}

<div class="row">
  <div class="col c2 gbox">
    <h2>About Me</h2>
    <p>
      Since 2013 I have been an Assistant Professor in the
      Department of <a href="http://www.towson.edu/philosophy/">Philosophy
      &amp; Religious Studies</a>
      at <a href="http://www.towson.edu/">Towson University</a>,
      Maryland. In 2012 I completed my Ph.D. in Philosophy at the
      University of Calgary, Canada. My doctoral supervisor was
      <a href="http://people.ucalgary.ca/~ereshefs/">Marc
	Ereshefsky</a>.
    </p>
    <div class="note">
      <h4>Contact:</h4>
      Philosophy &amp; Religious Studies <br>
      Towson University <br>
      8000 York Road <br>
      Towson, MD 21252<br>
      Phone: 410-704-7111<br>
      Email: <span class="reverse"> ude.noswot@osordepm </span>
    </div>
  </div>
  <div class="col c2">
    <h3>Research</h3>
    <p> My research interests lie in the interface between
      philosophy and biology. More specifically, I am
      interested in conceptual issues in evolutionary biology
      and biological systematics.
      <a href="/research">Click here for further details&raquo</a>
    </p>
    <h3>Teaching</h3>
    <p>At Towson University I mostly teach interdisciplinary
      courses between the biological sciences and philosophy.
      <a href="/teaching"> Click here for a list of courses&raquo</a>
    </p>
  </div>
</div>
{% endblock %}