{% extends "layouts/default.html" %}
{% block content %}

<div class="maketitle">
    <h2>Spring 2023</h2>
</div>

{% include 'includes/course-description-phil255.html' %}
<a href="/schedule1" class="btn btn-sm btn-a">View Schedule</a>


{% include 'includes/course-description-phil342.html' %}
<a href="/schedule6" class="btn btn-sm btn-a">View Schedule</a>

<div class="maketitle">
  <h2>Past Semesters</h2>
</div>

<a href="/schedule2"> PHIL342 - Fall 2022</a>
<br>
<a href="/schedule5"> PHIL255 - Fall 2022</a>
<br>
<a href="/schedule3"> PHIL212 - Spring 2020</a>
<br>
<a href="/schedule4"> PHIL460 - Spring 2019</a>
<br>

{% endblock %}
